<div class="self-stretch flex flex-col items-start justify-start gap-space-300 text-left text-body-size-medium text-text-default-default font-subheading" [attr.data-state]="state">
      <div class="self-stretch flex flex-row items-start justify-between gap-0" *ngIf="hasLabel">
        <div class="flex-1 relative leading-[140%]">{{label}}</div>
        <div class="flex flex-row items-center justify-start text-right text-body-size-small">
          <div class="relative leading-[140%]">$</div>
          <div class="relative leading-[140%]">0-100</div>
        </div>
      </div>
      <div class="self-stretch flex flex-row items-center justify-start">
        <div class="h-2 flex-1 rounded-radius-full bg-background-brand-secondary flex flex-row items-center justify-start">
          <div class="w-4 relative rounded-radius-full bg-background-brand-default h-4 overflow-hidden shrink-0" ></div>
          <div class="flex-1 overflow-hidden" ></div>
          <div class="w-4 relative rounded-radius-full bg-background-brand-default h-4 overflow-hidden shrink-0" ></div>
        </div>
      </div>
      <div class="w-60 relative leading-[140%] text-text-default-secondary" *ngIf="hasDescription">{{description}}</div>
    </div>