<div class="flex flex-col">
  <header-menu></header-menu>
  
  <main class="flex flex-col items-start justify-start pb-[50px] pl-3 pr-[18px] box-border max-w-full lg:pb-[50px] lg:box-border mq750:pb-[30px] mq750:box-border">

    <section class="relative w-full h-[150px] flex"> 
      <app-logo class="absolute top-0 left-0"></app-logo>

      <div class="absolute top-[19px] left-[365px] flex flex-col items-start justify-start gap-[50px] w-[calc(100%-365px)]">
        <div class="w-full flex flex-col font-subheading">
          <route [breadcrumbs]="[{ label: 'Crear cuenta' }]"></route>
        </div>
      </div>
    </section>

    <div class="flex items-center justify-center min-h-screen w-full">
      <section class="w-[1000px] flex flex-col items-center justify-center pt-0 px-[21px] pb-[149px] box-border max-w-full mq1050:pb-[97px] mq1050:box-border mx-auto">
        <div class="flex flex-col items-center justify-center gap-10 max-w-full mq1050:gap-5">
          <div class="w-[1098px] flex flex-col items-start justify-center gap-[2px] max-w-full z-[10]">
            <h1 class="text-xl font-bold font-subheading">Crea una cuenta</h1>
            <p class="text-gray-600 font-subheading">Si ya tiene una cuenta, por favor ingrese en la página de login.</p>
          </div>
          
          <div class="self-stretch h-[357px] flex flex-row items-center justify-center max-w-full">
            <div class="self-stretch w-[1305px] flex flex-col items-center justify-center gap-[40px] max-w-full mq1050:gap-[29px]">
  
              <!-- Formulario de registro -->
              <div class="m-0 rounded-radius-200 bg-background-default-default border-border-default-default border-solid 
              border-stroke-border box-border flex flex-col items-center justify-center py-space-400 px-[16px] gap-space-400 
              w-full max-w-[400px] z-[1] mt-[100px] mq450:min-h-[auto]">
               <app-info-usuario></app-info-usuario>
              </div>
              
              <div class="flex flex-col items-center justify-center pt-[41px] px-0 pb-0 box-border max-w-full mq1050:min-w-full mq450:flex-1">
                <div class="flex flex-col items-center justify-center text-center font-subheading">
        
                  <app-button 
                    class="font-subheading"
                    [buttonText]="'Ingresar'" 
                    [buttonRoute]="'/login'" 
                    [showButton]="true">

                  </app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <footer class="w-full mt-5 mb-10 font-subheading">
    <app-footer 
      [frameHeaderAlignSelf]="'unset'" 
      [frameHeaderPadding]="'0px 70px'" 
      [frameDivFlex]="'unset'" 
      [frameDivWidth]="'1290px'" 
      [image5]="'assets/images/image-5@2x.png'">
    </app-footer>
  </footer>
</div>