<footer class="self-stretch flex flex-row items-start justify-start py-0 px-[5vw] box-border max-w-full text-left text-body-size-medium text-darkslategray font-subheading">
  <div class="flex-1 flex flex-col items-center md:items-end justify-start gap-[47px] max-w-full" (ngStyle)="frameDivStyle">

    <!-- Línea divisoria -->
    <div class="self-stretch h-px relative border-background-brand-secondary border-t border-solid box-border"></div>

    <!-- Contenedor principal -->
    <div class="self-stretch flex flex-col md:flex-row justify-between items-center md:items-end gap-5 flex-wrap max-w-full text-center ">

      <!-- Logo + íconos -->
      <div class="mx-auto w-full md:w-auto flex flex-col items-center md:items-end gap-10">
        <img class="justify-self-end w-44 h-auto object-contain" loading="lazy" alt="Logo" src="assets/images/logo-texto.png" />
        <div class="flex flex-row items-center justify-center gap-4">
          <a href="https://www.facebook.com/people/Joryan-Bags/100064795278888/" target="_blank" rel="noopener noreferrer">
            <img class="h-11 w-10 rounded-full object-cover" alt="Facebook" src="assets/icons/icon-facebook.png" />
          </a>
          <a href="https://www.tiktok.com/@joryanbags" target="_blank" rel="noopener noreferrer">
            <img class="h-6 w-6 rounded-full object-cover" alt="Tiktok" src="assets/icons/icon-tiktok.png" />
          </a>
          <a href="https://www.instagram.com/joryanbags/" target="_blank" rel="noopener noreferrer">
            <img class="h-10 w-10 object-cover" alt="Instagram" src="assets/icons/icon-instagram.png" />
          </a>
          <a href="https://api.whatsapp.com/send?phone=573176049916" target="_blank" rel="noopener noreferrer">
            <img class="h-6 w-6 object-cover" alt="Whatsapp" src="assets/icons/icon-whatsapp.png" />
          </a>
        </div>
      </div>

      <!-- Menú de enlaces -->
      <div class="w-full max-w-[300px] flex  md:mx-auto md:flex-row justify-between items-center md:items-start gap-8 flex-wrap">
        <div class="flex-1 min-w-[100px] flex flex-col items-center md:items-center justify-center gap-spacing-s">
          <button class="font-subheading font-[500] hover:underline bg-transparent border-none cursor-pointer text-inherit" (click)="onInicioClick()">Inicio</button>
          <button class="font-subheading font-[500] hover:underline bg-transparent border-none cursor-pointer text-inherit" (click)="onCatalogoClick()">Catálogo</button>
          <button class="font-subheading font-[500] hover:underline bg-transparent border-none cursor-pointer text-inherit" (click)="onIniciosesionClick()">Mi cuenta</button>
          <button class="font-subheading font-[500] hover:underline bg-transparent border-none cursor-pointer text-inherit" (click)="onCarritoClick()">Mi carrito</button>
          <button class="font-subheading font-[500] hover:underline bg-transparent border-none cursor-pointer text-inherit" (click)="onTyCClick()">Términos y condiciones</button>
        </div>
      </div>
    </div>
  </div>
</footer>
