$color-menu: #CBB28B;
$color-sub-menu: #CBB28B7D;


$color-texto-negro: #000;
$color-texto-oscuro: #333;
$color-texto-medio: #888;
$color-texto-claro: #AAA;
$color-texto-blanco: #FFF;


$pantalla-peq: 576px;
$pantalla-med: 768px;
$pantalla-gra: 992px;
$pantalla-gig: 1200px;
