<div class="flex flex-col">
    <header-menu></header-menu>
  
    <main class="flex flex-col items-start justify-start pb-[50px] pl-3 pr-[18px] box-border max-w-full lg:pb-[50px] lg:box-border mq750:pb-[30px] mq750:box-border">

      <section class="relative w-full min-h-[150px] flex flex-wrap items-start sm:items-center">
  
        <app-logo class="mx-auto flex-shrink-0 "></app-logo>
      
        <div class="flex-1 min-w-[250px] sm:min-w-[365px] flex flex-col items-start justify-start gap-[50px]">
          <div class="w-full flex flex-col">
            <route [breadcrumbs]="[
              { label: 'Usuario', }
            ]"></route>
          </div>
        </div>
      
      </section>
      
      <section class="py-2 w-[70%] mx-auto self-stretch flex flex-col items-start justify-start gap-space-600">
        <div class="mx-auto w-full self-stretch rounded-radius-200 border border-border-default-default 
            border-solid border-stroke-border box-border flex flex-col items-start justify-start flex-wrap 
            content-start py-[22px] px-[23px] relative gap-space-500 min-w-[240px]">
        
            <div class="px-2 flex flex-row">
                <img class="h-20 w-8" loading="lazy" alt="info" src="assets/icons/info.svg" />
                <h3 class="m-7 font-subheading flex">Tu perfil</h3>
            </div>

            <!-- Contenedor flexible que cambia entre fila y columna -->
            <div class="flex flex-wrap items-center sm:items-start w-full gap-4">
                <img class="px-3 h-30 min-w-[60px]" src="assets/icons/generic-avatar.svg">
                
                <!-- Contenedor de texto adaptable -->
                <div class=" flex-col flex-1 min-w-[200px]">
                    <p class="px-6 font-subheading font-body-font-weight-strong">Nombre Apellido</p>
                    <p class="px-6 font-subheading text-gray-600">correo&#64;electronico.com</p>
                    <p class="px-6 font-subheading text-gray-600">DIRECION ## CALLE ## CARRERA ##</p>
                </div>
            </div>

        </div>

        <div class="mx-auto w-[100%] self-stretch rounded-radius-200 border-border-default-default 
                    border-solid border-stroke-border box-border flex flex-col items-start justify-start flex-wrap 
                    content-start py-[22px] px-[23px] relative gap-space-600 min-w-[240px]">
            <div class="px-2 flex flex-col">
                <h3 class="m-1 font-subheading flex">Información</h3>
                <p class="font-subheading text-gray-600">Información de tu cuenta.</p>
            </div>
        </div>
        <div class="mx-auto w-[100%] self-stretch rounded-radius-200 border-border-default-default 
                    border-solid border-stroke-border box-border flex flex-col items-start justify-start flex-wrap 
                    content-start py-[22px] px-[23px] relative gap-space-600 min-w-[240px]">
                    <div class="px-2 flex flex-col">
                        <h3 class="m-1 font-subheading flex">Historial de pedidos</h3>
                        <p class="font-subheading text-gray-600">Muestra tus pedidos actuales y pasados.</p>
                        <div class="relative flex flex-row ">
                          <input
                            type="text"
                            placeholder="Buscar pedido"
                            class="bg-gray-300 font-subheading w-full py-2 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 pl-10 pr-10"
                          />
                          <button class="absolute inset-y-0 left-0 flex items-center pl-3 hover:opacity-75 transition-opacity bg-transparent">
                            <img src="assets/icons/icon1.svg" alt="Menú" class="w-5 h-5">
                          </button>
                      
                          <button class="absolute inset-y-0 right-0 flex items-center pr-3 hover:opacity-75 transition-opacity bg-transparent">
                            <img src="assets/icons/icon-11.svg" alt="Buscar" class="w-5 h-5">
                          </button>
                        </div>
                      </div>
                      <app-pedido class="w-full"></app-pedido>
                      <app-pedido class="w-full"></app-pedido>
                      
        </div>
      </section>
      
    </main>

    <footer class="w-full mt-5 mb-10">
        <app-footer [frameHeaderAlignSelf]="'unset'" [frameHeaderPadding]="'0px 70px'" 
                    [frameDivFlex]="'unset'" [frameDivWidth]="'1290px'" 
                    [image5]="'assets/images/image-5@2x.png'"></app-footer>
    </footer>
</div>
