<div class="pb-10">
  <!-- Header -->
  <header-menu class="w-full"></header-menu>

  <!-- Contenido principal -->
  <section class="relative bg-background-default-default flex flex-col items-start justify-start pt-0 px-px pb-[10px] box-border gap-3.5 leading-[normal] tracking-[normal]">
    <div class="mx-auto self-stretch w-full max-w-[95%] lg:max-w-[90%] grid grid-cols-1 lg:grid-cols-[auto,1fr,auto] md:grid-cols-2 gap-x-10 auto-rows-auto items-start">
      
      <!-- Logo -->
      <div class="w-fit p-0 order-1 md:col-span-2 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <app-logo></app-logo>
      </div>      

      <!-- Portada -->
      <div class="md:py-6 col-span-1 lg:col-span-2 lg:row-span-2 md:col-span-2 p-0 m-0 order-2">
        <div class="max-w-full">
          <portada></portada>
        </div>
      </div>

      <!-- Menú Categorías -->
      <div class="py-3 w-fit p-0 order-3 md:col-span-1 lg:col-span-1 flex justify-self-center lg:justify-self-end ">
        <menu-categorias class="md:max-h-[500px] overflow-y-auto"></menu-categorias>
      </div>

      <!-- Top Compras -->
      <div class="py-3 w-fit p-0 order-4 md:col-span-1 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <top-compras ></top-compras>
      </div>

      <!-- Celda con tarjetas -->
      <div class="col-span-1 lg:col-span-2 md:col-span-2 order-5 py-3">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-12 gap-0 w-[80%] md:w-full mx-auto">
          
          <!-- Tarjeta 1 -->
          <div class="w-full h-[571px] flex flex-col items-start justify-start gap-6 cursor-pointer">
            <img class="w-full h-[350px] object-cover" loading="lazy" alt="Imagen 1" src="assets/images/image-8@2x.png" />
            <div class="px-4">
              <h3 class="font-subheading text-2xl font-semibold leading-snug mb-1">Bolso - Natalia</h3>
              <p class="font-subheading text-gray-600">Las medidas son 23.5cm de alto, 32cm de ancho y 12cm de fondo,1 bolsillo principal, 1  bolsillo interno y organizador, apliques en dorado, cierre con cremallera, incluye correa larga graduable.</p>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="w-full h-[541px] flex flex-col items-start justify-start gap-6 cursor-pointer">
            <img class="w-full h-[350px] object-cover" loading="lazy" alt="Imagen 2" src="assets/images/image-8-1@2x.png" />
            <div class="px-4">
              <h3 class="font-subheading text-2xl font-semibold leading-snug mb-1">Bolso - Junior</h3>
              <p class="font-subheading text-gray-600">Las medidas son 34cm de alto, 28cm de ancho y 11.5cm de fondo, 1 bolsillo principal, 2 bolsillos externos, cierre con cremallera, apliques en dorado.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <!-- Comentarios + Pie de imagen -->
  <section class="w-full flex flex-col items-start justify-start gap-[51px] max-w-full text-left text-29xl text-black font-subheading px-4 md:gap-[25px] box-border">
    <div class="w-full flex justify-center px-6 box-border max-w-full">
      <comentarios></comentarios>
    </div>
    
    <!-- Imagen ajustada -->
    <img 
      class="w-full max-w-full object-cover box-border"
      loading="lazy" 
      alt="" 
      src="assets/images/pie@2x.png" />
  </section>


  <!-- Footer -->
  <footer class="w-full mt-5 mb-10 z-[10] relative">
    <app-footer 
      [frameHeaderAlignSelf]="'unset'" 
      [frameHeaderPadding]="'0px 70px'" 
      [frameDivFlex]="'unset'" 
      [frameDivWidth]="'1290px'" 
      [image5]="'assets/images/image-5@2x.png'">
    </app-footer>
  </footer>
</div>
