<div class="flex flex-row items-start justify-start gap-space-200 text-left text-body-size-medium text-text-default-secondary font-subheading">
  <tag-toggle [state]="'On'" [label]="'New'" [showIcon]="true"> </tag-toggle>
      <button class="cursor-pointer [border:none] p-space-200 bg-background-brand-tertiary rounded-radius-200 flex flex-row items-center justify-center">
        <div class="relative text-body-size-medium leading-[100%] font-subheading text-text-default-secondary text-left">Price ascending</div>
      </button>
      <div class="rounded-radius-200 bg-background-brand-tertiary flex flex-row items-center justify-center p-space-200">
        <div class="relative leading-[100%]">Price descending</div>
      </div>
      <div class="rounded-radius-200 bg-background-brand-tertiary hidden flex-row items-center justify-center p-space-200">
        <div class="relative leading-[100%]">On sale</div>
      </div>
      <div class="rounded-radius-200 bg-background-brand-tertiary flex flex-row items-center justify-center p-space-200">
        <div class="relative leading-[100%]">Rating</div>
      </div>
      <div class="rounded-radius-200 bg-background-brand-tertiary hidden flex-row items-center justify-center p-space-200">
        <div class="relative leading-[100%]">Recommended</div>
      </div>
      <div class="rounded-radius-200 bg-background-brand-tertiary hidden flex-row items-center justify-center p-space-200">
        <div class="relative leading-[100%]">2018</div>
      </div>
    </div>