<div class="pb-10">
  <!-- Header -->
  <header-menu class="w-full"></header-menu>

  <!-- Contenido principal -->
  <section class="relative bg-background-default-default flex flex-col items-start justify-start pt-0 px-px pb-[10px] box-border gap-3.5 leading-[normal] tracking-[normal]">
    <div class="mx-auto self-stretch w-full max-w-[95%] lg:max-w-[90%] grid grid-cols-1 lg:grid-cols-[auto,1fr,auto] md:grid-cols-2 gap-x-10 auto-rows-auto items-start">
      
      <!-- Logo -->
      <div class="w-fit p-0 order-1 md:col-span-2 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <app-logo></app-logo>
      </div>
      <!-- Portada -->
      <div class="md:py-6 col-span-1 lg:col-span-2 lg:row-span-1 md:col-span-2 p-0 m-0 order-2">
        <div class="flex flex-col items-start justify-start gap-[30px]">
          <route [breadcrumbs]="[
              { label: 'Carrito', url: 'carrito'},
              { label: 'Checkout' }
            ]"></route>
        </div>
      </div>
      <!-- Logo -->
      <div class="w-fit flex flex-col p-0 order-4 col-span-1 flex justify-self-center lg:justify-self-end lg:order-4 order-3">
          <app-cartbill title="Resumen de compras" buttonText="Volver al carrito" rutaBttn="/carrito"></app-cartbill>
          <div class="w-[287px] flex-1 overflow-hidden flex flex-col items-start justify-start py-space-200 px-[7px] z-[1]">
            <div class="self-stretch rounded-radius-200 bg-background-default-default border-border-default-default 
                        border-solid border-stroke-border box-border flex flex-row items-start justify-start flex-wrap 
                        content-start py-[22px] px-[23px] relative gap-space-300 min-w-[240px]">
    
              <div class="w-full font-subheading bg-tan-200 p-2 text-body-size-medium text-text-default-default font-body-font-weight-strong">
                Pago
              </div>
              
              <div class="w-full h-px bg-border-default-default my-2"></div>
              
              <div class="w-full flex flex-row justify-between items-center p-2">
                <div class="text-body-size-medium font-subheading">Precio total</div>
                <div class="font-subheading">${{ precioTotal }}</div>
              </div>
          
              <div class="w-full h-px bg-border-default-default my-2"></div>
          
              <div class="w-full flex flex-row justify-between items-center p-2">
                <div class="text-body-size-medium font-subheading aling-center mx-auto">Pasarela de pagos</div>
              </div>
          
            </div>
          </div>
      </div>
      <!-- Portada -->
      <div class="md:py-2 py-5 col-span-1 lg:col-span-2 lg:row-span-1 md:col-span-2 p-0 m-0 lg:order-3 order-4">
        <div class="flex flex-col items-stretch justify-start gap-6 w-full">
          <div class="w-[100%] flex-1 flex flex-col gap-4">
            <app-infopedido [isConfirmationPage]="false"></app-infopedido>
        </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="w-full mt-5 mb-10 z-[10] relative">
    <app-footer 
      [frameHeaderAlignSelf]="'unset'" 
      [frameHeaderPadding]="'0px 70px'" 
      [frameDivFlex]="'unset'" 
      [frameDivWidth]="'1290px'" 
      [image5]="'assets/images/image-5@2x.png'">
    </app-footer>
  </footer>
</div>