<div class="flex flex-col">
    <header-menu></header-menu>
  
    <main class="flex flex-col items-start justify-start pb-[50px] pl-3 pr-[18px] box-border max-w-full lg:pb-[50px] lg:box-border mq750:pb-[30px] mq750:box-border">
      <section class="h-auto w-full flex relative">
        <div class="absolute top-[19px] left-[365px] flex flex-col items-start justify-start gap-[50px] max-w-full">
          <div class="flex flex-col items-start justify-start gap-[30px]">
            <route></route>
          </div>
        </div>
        <app-logo></app-logo>
      </section>

      <section class="mx-auto w-full max-w-[90%] flex flex-row justify-between items-start gap-8 px-10 py-10">
        <div class="flex-1 flex flex-col gap-4">
            <app-infopedido></app-infopedido>
        </div>
        <div class="w-[20%] flex-shrink-0 ">
          <app-cartbill title="Resumen de compras" buttonText="Volver al carrito"></app-cartbill>
          <div class="h-[300px] flex flex-col items-start justify-start px-0 py-2 pb-0 box-border">
            <div class="flex-1 shadow-md rounded-lg bg-background-default-default border border-solid border-border-default-default 
                        overflow-hidden flex flex-col p-2 relative">
              
              <div class="font-subheading bg-tan-200 p-2 text-body-size-medium text-text-default-default font-body-font-weight-strong">
                Pago
              </div>
              
              <div class="w-full h-px bg-border-default-default my-2"></div>
              
              <div class="w-[285px] flex flex-row justify-between items-center p-2">
                <div class="text-body-size-medium font-subheading">Precio total</div>
                <div class="font-subheading">$$$$$$</div>
              </div>
          
              <div class="w-full h-px bg-border-default-default my-2"></div>
          
              <div class="w-[285px] flex flex-row justify-between items-center p-2">
                <div class="text-body-size-medium font-subheading aling-center mx-auto">Pasarela de pagos</div>
              </div>
          
            </div>
          </div>          
        </div>
      </section>
    </main>

    <footer class="w-full mt-5 mb-10">
        <app-footer [frameHeaderAlignSelf]="'unset'" [frameHeaderPadding]="'0px 70px'" 
                    [frameDivFlex]="'unset'" [frameDivWidth]="'1290px'" 
                    [image5]="'assets/images/image-5@2x.png'"></app-footer>
    </footer>
</div>
