<div class="mx-auto w-[100%] self-stretch rounded-radius-200 border-border-default-default 
    border-solid border-stroke-border box-border flex flex-row items-center justify-start flex-wrap 
    content-start py-[22px] px-[23px] relative gap-space-600 min-w-[240px] ">
    <img src="assets\images\image-2@2x.png" alt="" class="h-40 object-cover flex-shrink-0 ">    
    <div class="flex-col flex-grow min-w-[50px] items-start">
        <h2 class="font-subheading m-2">{{ titulo }}</h2>
        <h3 class="font-subheading bg-black text-white px-3 py-1 rounded-full inline-block text-sm m-2">{{ estado }}</h3>
        <p class="font-subheading text-gray-600 m-2">
            {{ infoPedido }}
        </p>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 min-w-[200px] items-center">
        <button class="w-full font-[550] py-2 px-4 bg-background-brand-default text-text-brand-on-brand font-heading rounded-lg 
        border-border-neutral-secondary border-solid border-stroke-border hover:bg-white hover:text-black transition text-white cursor-pointer">
            Ver compra
        </button>
        <button class="w-full font-[550] py-2 px-4 bg-background-brand-default text-text-brand-on-brand font-heading rounded-lg 
        border-border-neutral-secondary border-solid border-stroke-border hover:bg-white hover:text-black transition text-white cursor-pointer">
            Dar Valoración
        </button>
    </div>
</div>
