<div class="flex flex-col">
  <header-menu></header-menu>

  <main class="flex flex-col items-start justify-start pb-[50px] pl-3 pr-[18px] box-border max-w-full lg:pb-[50px] lg:box-border mq750:pb-[30px] mq750:box-border">
    
    <section class="relative w-full min-h-[150px] flex flex-wrap items-start sm:items-center">
  
      <app-logo class="mx-auto flex-shrink-0 "></app-logo>
    
      <div class="flex-1 min-w-[250px] sm:min-w-[365px] flex flex-col items-start justify-start gap-[50px]">
        <div class="w-full flex flex-col">
          <route [breadcrumbs]="[
            { label: 'Carrito' },
          ]"></route>
        </div>
      </div>
    
    </section>    

    <section class="py-2 mx-auto w-full max-w-[80%] flex flex-row justify-between items-start gap-8 px-10">
      <div class="flex-1 flex flex-col gap-4">
        @if (totalProductos.length > 0) {
          @for (item of totalProductos; track item) {
            <app-cartproduct 
              (onChangeQty)="onChangeQuantity(item, $event)" 
              (onDelete)="onDeleteProduct(item)" 
              [nombreProducto]="item.name" 
              [cantidad]="item.quantity" 
              [stock]="item.stock"
              [urlImagen]="item.image_url" 
              [descripcion]="item.category_name" 
              [precio]="item.price">
            </app-cartproduct>
          }
        } @else {
          <p class="mx-auto font-subheading text-center text-gray-500">Aún no has agregado productos al carrito :(</p>
        }
      </div>
      <div class="w-[350px] flex-shrink-0">
        <app-cartbill *ngIf="totalProductos.length > 0" title="Mi carro de compras" buttonText="Continuar" rutaBttn="/checkout"></app-cartbill>
      </div>
    </section>

  </main>

  <footer class="w-full mt-5 mb-10">
    <app-footer [frameHeaderAlignSelf]="'unset'" [frameHeaderPadding]="'0px 70px'" 
                [frameDivFlex]="'unset'" [frameDivWidth]="'1290px'" 
                [image5]="'assets/images/image-5@2x.png'"></app-footer>
  </footer>
</div>
