<div class="pb-10">
  <!-- Header -->
  <header-menu class="w-full"></header-menu>

  <!-- Contenido principal -->
  <section class="relative bg-background-default-default flex flex-col items-start justify-start pt-0 px-px pb-[10px] box-border gap-3.5 leading-[normal] tracking-[normal]">
    <div class="mx-auto self-stretch w-full max-w-[95%] lg:max-w-[90%] grid grid-cols-1 lg:grid-cols-[auto,1fr,auto] md:grid-cols-2 gap-x-10 auto-rows-auto items-start">
      
      <!-- Logo -->
      <div class="w-fit p-0 order-1 md:col-span-2 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <app-logo></app-logo>
      </div>
      <!-- Portada -->
      <div class="md:py-6 col-span-1 lg:col-span-2 lg:row-span-1 md:col-span-2 p-0 m-0 order-2">
        <div class="flex flex-col items-start justify-start gap-[30px]">
          <route [breadcrumbs]="[
            { label: 'Carrito' },
          ]"></route>
        </div>
      </div>
      <!-- Logo -->
      <div class="w-fit p-0 order-4 md:col-span-2 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <app-cartbill *ngIf="totalProductos.length > 0" title="Mi carro de compras" buttonText="Continuar" rutaBttn="/checkout"></app-cartbill>
      </div>
      <!-- Portada -->
      <div class="md:py-2 py-5 col-span-1 lg:col-span-2 lg:row-span-1 md:col-span-2 p-0 m-0 order-3">
        <div class="flex flex-col items-stretch justify-start gap-6 w-full">
          @if (totalProductos.length > 0) {
            @for (item of totalProductos; track item) {
              <app-cartproduct 
                (onChangeQty)="onChangeQuantity(item, $event)" 
                (onDelete)="onDeleteProduct(item)" 
                [nombreProducto]="item.name" 
                [cantidad]="item.quantity" 
                [stock]="item.stock"
                [urlImagen]="item.image_url" 
                [descripcion]="item.category_name" 
                [precio]="item.price">
              </app-cartproduct>
            }                 
          }
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="w-full mt-5 mb-10 z-[10] relative">
    <app-footer 
      [frameHeaderAlignSelf]="'unset'" 
      [frameHeaderPadding]="'0px 70px'" 
      [frameDivFlex]="'unset'" 
      [frameDivWidth]="'1290px'" 
      [image5]="'assets/images/image-5@2x.png'">
    </app-footer>
  </footer>
</div>
