<div class="self-stretch flex flex-col items-start justify-start gap-space-300 text-left text-body-size-medium text-text-default-default font-subheading">
    <checkbox-field [state]="'Default'" [valueType]="'Checked'" [hasDescription]="true" [description]="'Description'" [label]="'Label'"> </checkbox-field>
    <checkbox-field [state]="'Default'" [valueType]="'Checked'" [hasDescription]="true" [description]="'Description'" [label]="'Label'" [descriptionRowAlignSelf]="'stretch'" [descriptionRowWidth]="'unset'"> </checkbox-field>
    <checkbox-field [state]="'Default'" [valueType]="'Checked'" [hasDescription]="true" [description]="'Description'" [label]="'Label'" [descriptionRowAlignSelf]="'stretch'" [descriptionRowWidth]="'unset'"> </checkbox-field>
    </div>