<div
  class="mx-auto w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border box-border flex flex-col items-start justify-start p-space-400 gap-space-400 cursor-pointer text-left text-body-size-medium text-text-default-default font-subheading"
  (click)="onProductInfoCardClick()"
  [ngStyle]="productInfoCardStyle"
>
  <img
    class="w-full aspect-[4/5] object-cover rounded-t-radius-200"
    loading="lazy"
    alt=""
    [src]="image"
  />
  <div class="w-full flex flex-col items-start justify-start gap-space-200">
    <div class="text-left text-body-size-medium text-text-default-default font-subheading">
      <div class="relative leading-[140%]">{{titulo}}</div>
    </div>
    <div class="text-left text-body-size-medium text-text-default-default font-subheading">
      <div class="relative leading-[140%] font-body-font-weight-strong">{{precio }}</div>
    </div>
  </div>
</div>
