<div class="min-w-[287px] flex flex-col items-start justify-start px-0 pb-0 box-border">
    <div class="self-stretch flex-1 shadow-[0px_4px_4px_-1px_rgba(12,_12,_13,_0.1),_0px_4px_4px_-1px_rgba(12,_12,_13,_0.05)] rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border overflow-hidden flex flex-col items-start justify-start py-space-200 px-[7px]">
      <div class="self-stretch bg-tan-200 overflow-hidden flex flex-col items-start justify-start pt-space-200 px-space-400 pb-space-100">
        <div class="self-stretch relative leading-[140%] font-body-font-weight-strong font-subheading">Mas Comprados</div>
      </div>
      <menu-separator [menuSeparatorBorderRadius]="'unset'"> </menu-separator>
      <div class="self-stretch rounded-lg overflow-hidden flex flex-col items-start justify-start mq450:h-[210px]">
        <menu-item [image]="'assets/images/image1@2x.png'" [hasImage]="true"> </menu-item>
        <menu-item [image]="'assets/images/image-11@2x.png'" [hasImage]="true" [imageIconOverflow]="'hidden'"> </menu-item>
        <menu-item [image]="'assets/images/star@2x.png'" [hasImage]="true" [imageIconOverflow]="'hidden'"> </menu-item>
      </div>
    </div>
  </div>