<div class="pb-10">
  <header-menu class="w-full"></header-menu>
  <div class="w-full relative bg-background-default-default overflow-hidden flex flex-col items-start justify-start pt-0 px-px pb-[109px] box-border gap-3.5 leading-[normal] tracking-[normal]">
    
    <main class="self-stretch flex flex-row items-start justify-start pt-0 pb-[268px] pl-3 pr-[18px] box-border max-w-full lg:pb-[113px] lg:box-border mq750:pb-[73px] mq750:box-border">
      <section class="h-[1879px] flex-1 relative max-w-[1429px] mx-auto">
        
        <catalog-filter class=""></catalog-filter>
        <div class="absolute top-[19px] left-[365px] flex flex-col items-start justify-start gap-[174px] max-w-full">
          <div class="flex flex-col items-start justify-start gap-[30px]">
            <route>  </route>
            <div class="w-[1039px] h-[241px] flex flex-row items-start justify-start pt-[47px] px-[18.4px] pb-[54px] box-border relative z-[1] text-left text-45xl text-background-default-default font-subheading">
              <img class="w-full absolute !m-[0] right-[0px] bottom-[-3px] left-[0px] max-w-full overflow-hidden max-h-full object-cover z-[0]" loading="lazy" alt="" src="assets/images/image-12@2x.png" />
              <div class="h-[140px] w-[863.1px] flex flex-col items-start justify-between gap-0 z-[1]">
                <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.02em] leading-[140%] font-[700] font-[inherit]">Shop title</h1>
                <h3 class="m-0 self-stretch relative text-5xl leading-[140%] font-[500] font-[inherit]">Subheading with description of your shopping site</h3>
              </div>
              <h3 class="!m-[0] self-stretch w-[976px] absolute bottom-[-72px] left-[5px] text-5xl leading-[150%] font-[400] font-[inherit] text-gray-100 flex items-center z-[2]">A subheading for this section, as long or as short as you like</h3>
            </div>
          </div>
          <div class="flex flex-row items-start justify-start py-0 pl-px pr-1.5 box-border max-w-full">
            <div class="h-[470px] w-[1032px] rounded-radius-200 flex flex-col items-start justify-start gap-space-1200 max-w-full">
              <div class="self-stretch flex flex-row items-center justify-between">
                <tag-toggle-group></tag-toggle-group>              
              </div>
              <div class="w-[1047px] flex flex-row flex-wrap items-center justify-start content-center py-0 pl-0 pr-[9px] box-border gap-space-600">
                @for(product of products; track product) {
                  <product-info-card                  
                  [showDescription]="false"
                  [productInfoCardWidth]="product.width"
                  [image]="product.image"
                  [titulo]="product.titulo"
                  [precio]="product.precio">
                  </product-info-card>
                }
              </div>
            </div>
          </div>
        </div>
        <app-logo></app-logo>
        <menu-categorias class="flex ml-8 max-w-[275px]"></menu-categorias>
      </section>
    </main>
    <app-footer [frameHeaderAlignSelf]="'unset'" [frameHeaderPadding]="'0px 70px'" [frameDivFlex]="'unset'" [frameDivWidth]="'1290px'" [image5]="'assets/images/image-5@2x.png'"></app-footer>
  </div>
</div>
