<div class="pb-10">
  <!-- Header -->
  <header-menu class="w-full"></header-menu>
  <!-- Contenido principal -->
  <section class="relative bg-background-default-default flex flex-col items-start justify-start pt-0 px-px pb-[10px] box-border gap-3.5 leading-[normal] tracking-[normal]">
    <div class="mx-auto self-stretch w-full max-w-[95%] lg:max-w-[90%] grid grid-cols-1 lg:grid-cols-[auto,1fr,auto] md:grid-cols-2 gap-x-10 auto-rows-auto items-start">
      
      <!-- Logo -->
      <div class="w-fit p-0 order-1 md:col-span-2 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <app-logo></app-logo>
      </div>      

      <!-- Portada -->
      <div class="md:py-6 col-span-1 lg:col-span-2 lg:row-span-1 md:col-span-2 p-0 m-0 order-2">
        <div class="flex flex-col items-start justify-start gap-[30px]">
          <route [breadcrumbs]="[
          { label: 'Catálogo' }
        ]"></route>
        </div>
      </div>

      <!-- Menú Categorías -->
      <div class="hidden lg:block py-3 w-fit p-0 order-3 md:col-span-1 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <menu-categorias></menu-categorias>
      </div>

      <!-- Portada -->
      <div class="py-3 md:py-0 col-span-1 lg:col-span-2 lg:row-span-2 md:col-span-2 p-0 m-0 order-3">
        <div class="max-w-full">
          <div class="flex-1 flex flex-col items-start justify-start gap-[33px] max-w-full ">
            <div class="w-full flex flex-col items-start justify-end pt-60 pb-12 px-6 box-border relative gap-[24px] text-background-default-default font-subheading">
              <!-- Imagen de fondo -->
              <img class="w-full absolute !m-[0] h-full top-0 right-0 bottom-0 left-0 max-w-full overflow-hidden object-cover z-[0]" 
                   loading="lazy" 
                   alt="" 
                   src="assets/images/imagen-inicio.png" />

              <div class="absolute top-0 left-0 w-full h-full bg-white/15 z-1"></div>
            
              <!-- Texto -->
              <div class="h-auto min-w-[300px] flex flex-col items-start justify-between gap-0 z-[1]">
                <!-- Título principal más pequeño -->
                <h1 class="m-0 w-full text-[clamp(1.8rem,5vw,3rem)] font-bold tracking-[-0.02em] leading-[1.2]">
                  Joryan Bags
                </h1>
            
                <!-- Subtítulo -->
                <h3 class="m-0 w-full text-[clamp(1rem,2.5vw,1.2rem)] leading-[1.8] font-[200]">
                  Bolsos, morales, billeteras y muchos más.
                </h3>                
              </div>          
            </div>
            
            <h3 class="m-0 w-full flex left-[5px] text-[clamp(1erm,3vw,1.3rem)] leading-[1.5] font-[200] text-gray-100 font-subheading break-words whitespace-normal z-[2]">
              Bolsos que combinan elegancia y durabilidad, fabricados con amor en Colombia. Diseños pensados para acompañarte en cada momento, con envíos a todo el país.
            </h3> 
          </div>          
          
        </div>        
      </div>
    </div>
  </section>
  

  <section class="relative bg-background-default-default flex flex-col items-start justify-start pt-0 pb-[10px] box-border gap-3.5 leading-[normal] tracking-[normal]">
    <div class="mx-auto self-stretch w-full max-w-[95%] lg:max-w-[90%] grid grid-cols-1 lg:grid-cols-[auto,1fr,auto] md:grid-cols-2 gap-x-10 auto-rows-auto items-start">
      
      
      <div class="w-fit p-5 order-1 md:col-span-2 lg:col-span-1 flex justify-self-center lg:justify-self-end">
        <app-catalog-filter (filtersChanged)="onFilterChange($event)"></app-catalog-filter>
      </div> 

      <!-- Celda con tarjetas --> 
      <div class="md:py-0 col-span-1 lg:col-span-2 lg:row-span-2 md:col-span-2 p-0 m-0 order-3">
        
        <div class="max-w-[40%] md:max-w-[80%] justify-self-center">
          <mat-chip-listbox class="gap-2 flex flex-wrap justify-center" aria-label="Filtros de catálogo">
            <mat-chip-option
              *ngFor="let filtro of orden"
              [selected]="ordenSeleccionado === filtro"
              (click)="seleccionarFiltro(filtro)"
              [color]="ordenSeleccionado === filtro ? 'primary' : undefined"
              [ngStyle]="{
                'background-color': ordenSeleccionado === filtro ? '#000000' : '#f3f4f6'
              }">
              <span class="font-subheading"
              [ngStyle]="{ 'color': ordenSeleccionado === filtro ? '#ffffff' : '#000000' }">
                {{ filtro }}
              </span>
            </mat-chip-option>
          </mat-chip-listbox>
          
        </div>
        
        <div class="py-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
          <!-- Mostrar Skeletons -->
          <ng-container *ngIf="isLoading">
            <ng-container *ngFor="let sk of skeletonArray">
              <div class="mx-auto w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg rounded-md bg-background-default-default border-border-default-default border-solid border-stroke-border box-border flex flex-col items-start justify-start p-4 gap-4 cursor-pointer">
                <div class="w-full aspect-[4/5] bg-gray-300 rounded-md"></div>
                <div class="w-full flex flex-col items-start justify-start gap-2">
                  <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                  <div class="h-4 bg-gray-300 rounded w-1/2"></div>
                </div>
              </div>
            </ng-container>
          </ng-container>          
 
          <!-- Mostrar Productos Reales -->
          <ng-container *ngIf="!isLoading">
            @for(product of products; track product) {
              <product-info-card                  
                [showDescription]="false"
                [image]="product.image_url"
                [titulo]="product.name"
                [precio]="'$'+product.price.toLocaleString('es-CO')"
                [productId]="product.product_id">                  
              </product-info-card>
            }
            
          </ng-container>
          

        </div>
        <!-- Paginación -->
        <div class="mt-6 flex justify-center items-center gap-4">
          <button (click)="prevPage()" [disabled]="page === 1" class="font-subheading px-4 py-2 rounded bg-gray-300 cursor-pointer hover:bg-gray-400">Anterior</button>
          <span class="font-subheading">Página {{ page }} de {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="page === totalPages" class="font-subheading py-2 rounded bg-gray-300 cursor-pointer hover:bg-gray-400">Siguiente</button>
        </div>
      </div>     

      
    </div>
    
  </section>
  
  <!-- Footer -->
  <footer class="w-full mt-5 mb-10 z-[10] relative">
    <app-footer 
      [frameHeaderAlignSelf]="'unset'" 
      [frameHeaderPadding]="'0px 70px'" 
      [frameDivFlex]="'unset'" 
      [frameDivWidth]="'1290px'" 
      [image5]="'assets/images/image-5@2x.png'">
    </app-footer>
  </footer>
</div>