<div class="self-stretch flex flex-col items-start justify-start gap-space-600">
    <div class="self-stretch rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border box-border flex flex-row items-start justify-start flex-wrap content-start py-[22px] px-[23px] relative gap-space-600 min-w-[240px]">
      <div class="m-[0] absolute top-[8px] right-[5px] flex flex-col items-start justify-start gap-2 z-[0]">
        <div class="font-subheading self-stretch relative leading-[140%]">Cantidad</div>
        <div class="flex items-center gap-2 border border-border-default-default rounded-radius-200 
        bg-background-default-default p-1 w-[90px] justify-between">

        <button class="w-6 h-6 flex items-center justify-center rounded-full bg-gray-100 
            hover:bg-gray-200 transition">
        <span class="text-base font-semibold text-gray-700">−</span>
        </button>
        <input type="text" value="1" 
        class="w-6 text-center border-none bg-transparent text-base font-medium 
            focus:outline-none focus:ring-0 pointer-events-none"/>
        <button class="w-6 h-6 flex items-center justify-center rounded-full bg-background-brand-default 
            text-white hover:bg-background-brand-hover transition">
        <span class="text-base font-semibold">+</span>
        </button>

        </div>
        
      </div>
      <img class="h-40 w-40 overflow-hidden shrink-0 object-cover min-w-[160px] cursor-pointer z-[1]" loading="lazy" alt="" src="assets\images\image-8@2x.png"/>
      <div class="flex-1 flex flex-col items-start justify-start gap-space-400 min-w-[160px] cursor-pointer z-[2] text-heading-size-base">
        <div class="self-stretch flex flex-col items-start justify-start gap-space-200">
          <h3 class="m-0 self-stretch relative text-inherit tracking-[-0.02em] leading-[120%] font-[600] font-[inherit] mq450:text-lgi mq450:leading-[23px]">
            <p class="font-subheading m-0">Bolso 1</p>
          </h3>
          <div class="font-subheading max-w-[70%] self-stretch relative text-body-size-medium leading-[140%] text-text-default-secondary">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
        </div>
        <button class="cursor-pointer [border:none] p-0 bg-[transparent] w-[84px] h-10 flex flex-row items-center justify-start gap-space-400">
          <div class="rounded-radius-200 bg-background-neutral-tertiary border-border-neutral-secondary border-solid border-stroke-border overflow-hidden flex flex-row items-center justify-center p-space-300 gap-space-200">
            <div class="relative text-body-size-medium leading-[100%] font-subheading text-text-default-default text-left">Eliminar</div>
          </div>
        </button>
      </div>
    </div>

</div>
