<div class="w-[1071px] h-[600px] flex flex-col items-start justify-end pt-72 pb-[83px] pl-[119px] pr-[108px] box-border relative gap-[37px] text-center text-45xl text-background-default-default font-subheading">
  <img class="w-full absolute !m-[0] h-full top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full object-cover z-[0]" loading="lazy" alt="" src="assets/images/imagen-inicio.png" />
  <div class="w-[844px] h-[140px] flex flex-col items-start justify-start gap-4 z-[1]">
    <h1 class="m-0 self-stretch relative text-inherit tracking-[-0.02em] leading-[140%] font-[700] font-[inherit]">Joryan Bags</h1>
    <h3 class="m-0 self-stretch relative text-5xl leading-[140%] font-[500] font-[inherit]">Tienda de bolsos y mas</h3>
  </div>
  <button class="cursor-pointer [border:none] py-0 pl-[356px] pr-0 bg-[transparent] w-[484px] h-[52px] flex flex-row items-start justify-start box-border z-[2]">
    <div class="h-[52px] w-32 rounded-81xl bg-m3-sys-light-primary overflow-hidden shrink-0 flex flex-col items-center justify-center text-center text-body-size-small text-background-default-default font-m3-label-large">
      <div class="self-stretch flex-1 bg-tan-100 flex flex-row items-center justify-center py-2.5 px-6">
        <div class="relative tracking-[0.1px] leading-[20px] font-[500]">COMPRAR</div>
      </div>
    </div>
  </button>
</div>

