<div class="self-stretch flex flex-col items-start justify-start px-0 pb-0 box-border">
  <div class="w-full h-[73px] flex flex-col items-start justify-start text-left text-subheading-size-medium text-schemes-on-surface font-heading">
    <div class="mx-auto mt-[-2px] w-full h-[73px] rounded bg-tan-200 flex flex-row items-center justify-center py-1 px-2 box-border gap-2.5">
      
      <img class="w-[27.2px] h-[26px] cursor-pointer" alt="Home" src="assets/icons/home-1.svg" (click)="onHomeIconClick()" />

      <img *ngIf="breadcrumbs.length > 0" class="w-[25.1px] h-6" alt="Flecha" src="assets/icons/play-arrow-filled.svg" />

      <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
        
        <ng-container *ngIf="crumb.label === 'Carrito'; else textBreadcrumb">
          <img class="w-[27px] h-[26px] cursor-pointer" alt="Carrito" src="assets\icons\shopping-cart-2.svg" />
        </ng-container>
        
        <ng-template #textBreadcrumb>
          <div 
            class="font-subheading cursor-pointer font-body-font-weight-strong"
            (click)="navigateTo(crumb.url)">
            {{ crumb.label }}
          </div>
        </ng-template>

        <img *ngIf="!last" class="w-[25.1px] h-6" alt="Flecha" src="assets/icons/play-arrow-filled.svg" />

      </ng-container>

    </div>
  </div>
</div>

