<div class="w-[1033px] h-[73px] flex flex-col items-start justify-start pt-0 pb-0.5 pl-[0.4px] pr-0 box-border z-[2] text-left text-subheading-size-medium text-m3-sys-light-on-surface font-subheading">
      <div class="mt-[-2px] w-[1043.1px] h-[73px] rounded bg-tan-200 flex flex-col items-center justify-center py-1 px-2 box-border relative gap-2.5">
        <div class="relative leading-[120%] [-webkit-text-stroke:1px_#000] cursor-pointer z-[0]" (click)="onSupportingTextClick()">Catalogo</div>
        <img class="w-[25.1px] h-6 absolute !m-[0] bottom-[24px] left-[439.8px] z-[1]" loading="lazy" alt="" src="assets/icons/play-arrow-filled.svg" />
        <img class="w-[27.2px] h-[26px] absolute !m-[0] bottom-[22px] left-[395.9px] overflow-hidden shrink-0 cursor-pointer z-[2]" alt="" src="assets/icons/home-1.svg" (click)="onHomeIconClick()" />
      </div>
    </div>