<div class="w-full max-w-[1280px] flex flex-col items-start justify-start gap-12 text-left text-29xl text-black font-subheading px-4 mq750:gap-6">
  <h1 class="m-0 max-w-[625px] text-inherit tracking-[-0.02em] font-[600] font-[inherit] inline-block text-[2rem] mq750:text-[1.75rem]">
    Comentarios
  </h1>

  <div class="w-full flex flex-row items-start justify-start gap-spacing-sm text-5xl mq750:flex-col mq750:items-center mq750:gap-8">
    <customer-quote class="w-full sm:w-[300px] self-stretch"
      [customerQuoteAlignSelf]="'stretch'" 
      comment="“¡Me encantó la calidad del bolso, superó mis expectativas!”" 
      name="Camila R."
      [avatar]="'assets/images/avatar@2x.png'"> 
    </customer-quote>

    <customer-quote class="w-full sm:w-[300px] self-stretch"
      [customerQuoteAlignSelf]="'stretch'" 
      comment="“Llegó rápido y es justo lo que necesitaba para mis viajes.”" 
      name="Andrés M."
      [avatar]="'assets/images/avatar-1@2x.png'"> 
    </customer-quote>

    <customer-quote class="w-full sm:w-[300px] self-stretch"
      [customerQuoteAlignSelf]="'stretch'" 
      comment="“Diseño hermoso y muy resistente, lo recomiendo a todos.”" 
      name="Laura G."
      [avatar]="'assets/images/avatar-2@2x.png'"> 
    </customer-quote>

  </div>
</div>
