<div class="flex space-x-4 mb-6">
    <button class="bg-black text-white px-4 py-2 rounded-full font-subheading cursor-pointer" (click)="seleccionarPeriodo('hoy')">Hoy</button>
    <button class="bg-black text-white px-4 py-2 rounded-full font-subheading cursor-pointer" (click)="seleccionarPeriodo('ultimaSemana')">Última semana</button>
    <button class="bg-black text-white px-4 py-2 rounded-full font-subheading cursor-pointer" (click)="seleccionarPeriodo('ultimoMes')">Último mes</button>
    <button class="bg-black text-white px-4 py-2 rounded-full font-subheading cursor-pointer" (click)="seleccionarPeriodo('ultimosTresMeses')">Últimos tres meses</button>
  </div>
  
  <div class="gap-4 w-full">
    <!-- Bloque 1 - Hoy -->
    <div *ngIf="periodoSeleccionado === 'hoy'" class="shadow border border-gray-200 rounded-md p-4">
      <h4 class="font-bold mb-2 font-subheading">Ventas realizadas - Hoy</h4>
      <div class="mt-4">
        <p class="text-gray-700 font-semibold font-subheading">Número de ventas: {{ dataVentas.salesCount.today }}</p>
        <p class="text-gray-700 font-semibold font-subheading">Total de ventas: ${{ dataVentas.earnings.today.toLocaleString('es-CO')  }}</p>
      </div>
    </div>
  
    <!-- Bloque 2 - Última semana -->
    <div *ngIf="periodoSeleccionado === 'ultimaSemana'" class="shadow border border-gray-200 rounded-md p-4">
      <h4 class="font-bold mb-2 font-subheading">Ventas realizadas - Última Semana</h4>
      <div class="mt-4">
        <p class="text-gray-700 font-semibold font-subheading">Número de ventas: {{ dataVentas.salesCount.last_week }}</p>
        <p class="text-gray-700 font-semibold font-subheading">Total de ventas: ${{ dataVentas.earnings.last_week.toLocaleString('es-CO')  }}</p>
      </div>
    </div>
  
    <!-- Bloque 3 - Último mes -->
    <div *ngIf="periodoSeleccionado === 'ultimoMes'" class="shadow border border-gray-200 rounded-md p-4">
      <h4 class="font-bold mb-2 font-subheading">Ventas realizadas - Último Mes</h4>
      <div class="mt-4">
        <p class="text-gray-700 font-semibold font-subheading">Número de ventas: {{ dataVentas.salesCount.last_month }}</p>
        <p class="text-gray-700 font-semibold font-subheading">Total de ventas: ${{ dataVentas.earnings.last_month.toLocaleString('es-CO')  }}</p>
      </div>
    </div>
  
    <!-- Bloque 4 - Últimos tres meses -->
    <div *ngIf="periodoSeleccionado === 'ultimosTresMeses'" class="shadow border border-gray-200 rounded-md p-4">
      <h4 class="font-bold mb-2 font-subheading">Ventas realizadas - Últimos tres meses</h4>
      <div class="mt-4">
        <p class="text-gray-700 font-semibold font-subheading">Número de ventas: {{ dataVentas.salesCount.last_3_months }}</p>
        <p class="text-gray-700 font-semibold font-subheading">Total de ventas: ${{ dataVentas.earnings.last_3_months.toLocaleString('es-CO')  }}</p>
      </div>
    </div>
  </div>
  