<div class="p-space-300 bg-background-default-default flex flex-col gap-space-60 min-w-[240px] max-w-[90%]">
  <!-- Contenedor principal con imagen y detalles -->
  <div class="flex flex-row flex-wrap justify-center gap-space-1600 mq1050:gap-8 mq750:gap-4">
    
    <!-- Imagen del producto -->
    <img 
      class="flex-1 min-w-[289px] max-h-[400px] max-w-[400px] max-w-full object-cover self-stretch z-[0] rounded-radius-200" 
      loading="lazy" 
      alt="Producto" 
      [src]="image" 
    />

    <!-- Contenedor de información -->
    <div class="flex-1 flex flex-col justify-center gap-space-60 max-w[5px] min-w-[289px] z-[1]">
      
      <!-- Título y etiqueta -->
      <div class="flex flex-col">
        <h3 class="font-subheading">{{ titulo }}</h3>
        <div class="w-8 rounded-radius-200 bg-green-300  p-space-200">
          <div class="font-subheading leading-[100%]">Tag</div>
        </div>
      </div>

      <!-- Precio -->
      <div class="font-subheading flex items-end text-heading-size-base text-text-default-default gap-2">
        <h3 class="text-inherit tracking-[-0.02em] font-bold">$</h3>
        <b class="text-[40px] tracking-[-0.02em]">{{ precio }}</b>
      </div>

      <!-- Información adicional -->
      <div class="h-auto gap-1 flex-col text-text-default-secondary">
        <p class="font-subheading text-m">Categoría principal: {{ categoria }}</p>
        <p class="font-subheading text-m">Disponibilidad: {{ stock }}</p>
      </div>

      <!-- Selector de cantidad -->
      <div class="h-auto flex flex-col items-start justify-start gap-space-100">
        <div class="font-subheading relative leading-[140%]">Cantidad</div>
        <div class="rounded-radius-200 bg-background-default-default border border-gray-400 border-solid box-border flex flex-row items-center justify-start py-space-300 px-space-400">
          <input class="w-16 border-none outline-none font-heading text-body-size-medium bg-transparent flex-1 text-text-default-default text-left" placeholder="#" type="number" min="1" value="1" [(ngModel)]="cantidad"/>
        </div>
      </div>      

      <!-- Botón de añadir al carrito -->
      <button (click)="addButtonClick()" class="cursor-pointer bg-background-brand-default border border-background-brand-default p-space-300 rounded-radius-200 flex items-center justify-center w-full mt-6">

        <div class="font-subheading text-body-size-medium text-text-brand-on-brand text-white">Añadir al carrito</div>
      </button>

    </div>
  </div>

  <!-- Descripción -->
  <div class="w-[922px] flex gap-space-600 text-heading-size-base">
    <img class="h-20 w-8" loading="lazy" alt="info" src="assets/icons/info.svg" />
    <div class=" flex-col gap-space-400 min-w-[160px]">
      <h3 class="font-subheading tracking-[-0.02em] font-semibold">Descripción</h3>
      <p class="font-subheading text-body-size-medium text-text-default-secondary">
        Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story.
      </p>
    </div>
  </div>
</div>
