<div class="p-space-300 self-stretch bg-background-default-default flex flex-col items-start justify-start box-border gap-space-60 min-w-[240px]  ">
    <div class="self-stretch flex flex-row items-start justify-center flex-wrap content-start relative gap-space-1600 mq1050:gap-8 mq750:gap-4">
      <img class="self-stretch flex-1 max-w-full overflow-hidden max-h-full object-cover min-w-[289px] z-[0]" loading="lazy" alt="" src="assets/images/image-8-1@2x.png" />
      <div class="flex-1 flex flex-col items-start justify-center gap-space-600 min-w-[289px] z-[1]">
        <div class="self-stretch flex flex-col items-start justify-start gap-space-400">
          <div class="self-stretch flex flex-col items-start justify-start text-heading-size-base">
            <div class="self-stretch flex flex-row items-start justify-start">
              <h3 class= "self-stretch relative leading-[200%] font-body-font-weight-strong font-subheading" >Text Heading</h3>
            </div>
            <div class="self-stretch flex flex-col items-start justify-center font-subheading">
              <div class="rounded-radius-200 bg-green-300 flex flex-row items-center justify-center p-space-200 gap-space-200">
                <div class="relative leading-[100%]">Tag</div>
              </div>
              <div class="h-[42px] flex flex-row items-start justify-start flex-wrap content-start gap-0 text-center text-body-size-small text-text-default-secondary">
                <div class="self-stretch flex flex-col items-center justify-start p-space-200 gap-space-200">
                  <img class="w-6 h-6 relative overflow-hidden shrink-0" loading="lazy" alt="" src="assets/icons/star1.svg" />
                </div>
                <div class="self-stretch flex flex-col items-center justify-start p-space-200 gap-space-200 text-background-brand-default">
                  <img class="w-6 h-6 relative overflow-hidden shrink-0" alt="" src="assets/icons/star1.svg" />
                </div>
                <div class="self-stretch flex flex-col items-center justify-start p-space-200 gap-space-200">
                  <img class="w-6 h-6 relative overflow-hidden shrink-0" alt="" src="assets/icons/star1.svg" />
                </div>
                <div class="self-stretch flex flex-col items-center justify-start p-space-200 gap-space-200">
                  <img class="w-6 h-6 relative overflow-hidden shrink-0" alt="" src="assets/icons/star1.svg" />
                </div>
                <div class="self-stretch flex flex-col items-center justify-start p-space-200 gap-space-200">
                  <img class="w-6 h-6 relative overflow-hidden shrink-0" alt="" src="assets/icons/star1.svg" />
                </div>
              </div>
              <div class="flex flex-row items-end justify-center text-heading-size-base text-text-default-default">
                <div class="flex flex-row items-start justify-start">
                  <h3 class="m-0 relative text-inherit tracking-[-0.02em] leading-[100%] font-[700] font-[inherit]">$</h3>
                  <b class="relative text-title-page-size-base tracking-[-0.02em] leading-[100%]">50</b>
                </div>
              </div>
            </div>
          </div>
          <div class="self-stretch h-[98px] flex flex-row items-start justify-start text-text-default-secondary">
            <div class="flex-1 relative leading-[140%]">
              <p class="h-2 font-subheading text-m" >Categoria principal: </p>
              <p class="h-2 font-subheading text-m">Codigo: </p>
              <p class="h-2 font-subheading text-m">Disponibilidad:</p>
            </div>
          </div>
          <div class="h-[79px] flex flex-col items-start justify-start gap-space-200">
            <div class="font-subheading relative leading-[140%]">Cantidad</div>
            <div class="rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border box-border flex flex-row items-center justify-start py-space-300  px-space-400 ">
              <input class="w-2 [border:none] [outline:none] font-heading text-body-size-medium bg-[transparent] flex-1 relative leading-[100%] text-text-default-default text-left inline-block" placeholder="#" type="text" />
            </div>
          </div>
        </div>
        <button class="cursor-pointer border-background-brand-default border-solid border-stroke-border p-space-300 bg-background-brand-default self-stretch rounded-radius-200 flex flex-row items-center justify-center gap-space-200 w-80">
          <div class="font-subheading relative text-body-size-medium leading-[100%] font-heading text-text-brand-on-brand text-left">Añadir al carrito</div>
        </button>
    </div>
    <div class="w-[922px] h-[16px] flex gap-space-600 text-heading-size-base">
        <img class="h-8 w-8 relative overflow-hidden shrink-0" loading="lazy" alt="" src="assets/icons/info.svg" />
        <div class="flex-1 flex flex-col items-start justify-start gap-space-400 min-w-[160px]">
          <div class="self-stretch flex flex-col items-start justify-start gap-space-200">
            <h3 class="m-0 font-subheading self-stretch relative text-inherit tracking-[-0.02em] leading-[120%] font-[600] font-[inherit]">Descripción</h3>
            <div class="font-subheading text-body-size-small relative text-body-size-medium leading-[140%] text-text-default-secondary">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
          </div>
        </div>
      </div>
    
  </div>
