<div class="self-stretch flex flex-row items-start justify-start gap-0.5 max-w-full text-left text-body-size-small text-text-default-secondary font-subheading">
      <div class="h-[605px] flex flex-col items-start justify-start gap-1 mq1050:hidden">
        <div class="w-[307px] h-[121px] rounded-8xs overflow-hidden shrink-0 flex flex-row items-start justify-start p-xl box-border">
          <img class="w-[81px] relative max-h-full object-cover" alt="" src="assets/property-1logo-mesa-de-trabajo-1-copia-12-1@2x.png" />
          <img class="w-[196px] relative max-h-full object-cover z-[1] ml-[-10px]" loading="lazy" alt="" src="assets/property-1logo-mesa-de-trabajo-1-copia-12-1-1@2x.png" />
        </div>
        <div class="w-[287px] flex-1 shadow-[0px_4px_4px_-1px_rgba(12,_12,_13,_0.1),_0px_4px_4px_-1px_rgba(12,_12,_13,_0.05)] rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border box-border overflow-hidden flex flex-col items-start justify-start py-space-200 px-[7px] z-[1]">
          <div class="self-stretch bg-tan-200 overflow-hidden flex flex-col items-start justify-start pt-space-200 px-space-400 pb-space-100">
            <div class="w-[253px] relative leading-[140%] hidden">Heading</div>
            <div class="self-stretch relative text-body-size-medium leading-[140%] font-body-font-weight-strong text-text-default-default">Categorias</div>
          </div><menu-separator [menuSeparatorBorderRadius]="'unset'"> </menu-separator>
          <div class="self-stretch rounded-lg overflow-hidden flex flex-col items-start justify-start text-body-size-medium text-text-default-default"><menu-item1 [state]="'Default'" [hasShortcut]="false" [hasIcon]="false" [label]="'Catalogo'" [hasDescription]="true" [description]="'Menu description.'" [menuItemAlignSelf]="'stretch'" [menuItemWidth]="'unset'"> </menu-item1>
            <div class="self-stretch rounded-radius-md overflow-hidden flex flex-row items-start justify-start py-space-300 px-space-400">
              <div class="flex-1 flex flex-col items-start justify-start gap-space-100">
                <div class="self-stretch flex flex-row items-center justify-between gap-0">
                  <div class="flex-1 relative leading-[140%]">Menu Label</div><menu-shortcut [shortcut]="'>'" [showMenuShortcut]="true"> </menu-shortcut>
                </div>
                <div class="self-stretch relative text-body-size-small leading-[140%] text-text-default-secondary">Menu description.</div>
              </div>
            </div>
            <div class="self-stretch rounded-radius-md overflow-hidden flex flex-row items-start justify-start py-space-300 px-space-400">
              <div class="flex-1 flex flex-col items-start justify-start gap-space-100">
                <div class="self-stretch flex flex-row items-center justify-between gap-0">
                  <div class="flex-1 relative leading-[140%]">Menu Label</div><menu-shortcut [shortcut]="'>'" [showMenuShortcut]="true"> </menu-shortcut>
                </div>
                <div class="self-stretch relative text-body-size-small leading-[140%] text-text-default-secondary">Menu description.</div>
              </div>
            </div>
          </div><menu-separator [menuSeparatorBorderRadius]="'8px'"> </menu-separator>
          <div class="self-stretch flex flex-col items-start justify-start"><menu-item1 [state]="'Default'" [hasShortcut]="false" [hasIcon]="false" [label]="'Menu Label'" [hasDescription]="true" [description]="'Menu description.'" [menuItemAlignSelf]="'stretch'" [menuItemWidth]="'unset'"> </menu-item1><menu-item1 [state]="'Default'" [hasShortcut]="false" [hasIcon]="false" [label]="'Menu Label'" [hasDescription]="true" [description]="'Menu description.'" [menuItemAlignSelf]="'unset'" [menuItemWidth]="'285px'"> </menu-item1>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-start justify-start pt-5 px-0 pb-0 box-border max-w-[calc(100%_-_309px)] text-center text-45xl text-background-default-default mq1050:max-w-full">
        <face1>  </face1>
      </div>
    </div>