<div class="w-[287px] flex-1 shadow-[0px_4px_4px_-1px_rgba(12,_12,_13,_0.1),_0px_4px_4px_-1px_rgba(12,_12,_13,_0.05)] rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border box-border overflow-hidden flex flex-col items-start justify-start py-space-200 px-[7px] z-[1]">
    <div class="self-stretch bg-tan-200 overflow-hidden flex flex-col items-start justify-start pt-space-200 px-space-400 pb-space-100">
      <div class="self-stretch relative text-body-size-medium leading-[140%] font-body-font-weight-strong text-text-default-default font-subheading">Categorias</div>
    </div>
    <menu-separator [menuSeparatorBorderRadius]="'unset'"> </menu-separator>
    <div class="self-stretch rounded-lg overflow-hidden flex flex-col items-start justify-start text-body-size-medium text-text-default-default">
        <menu-item [hasShortcut]="false" [hasIcon]="false" [label]="'Catalogo'" [hasDescription]="true" [description]="'Menu description.'"> </menu-item>
        <menu-item [hasShortcut]="false" [hasIcon]="false" [label]="'Menu Label'" [hasDescription]="true" [description]="'Menu description.'"> </menu-item>
        <menu-item [hasShortcut]="false" [hasIcon]="false" [label]="'Menu Label'" [hasDescription]="true" [description]="'Menu description.'"> </menu-item>
    </div>
    <menu-separator [menuSeparatorBorderRadius]="'8px'"> </menu-separator>
    <div class="self-stretch flex flex-col items-start justify-start">
        <menu-item [hasShortcut]="false" [hasIcon]="false" [label]="'Menu Label'" [hasDescription]="true" [description]="'Menu description.'"> </menu-item>
        <menu-item [hasShortcut]="false" [hasIcon]="false" [label]="'Menu Label'" [hasDescription]="true" [description]="'Menu description.'"> </menu-item>
    </div>
</div>
