<div class="w-[287px] flex-1 shadow-[0px_4px_4px_-1px_rgba(12,_12,_13,_0.1),_0px_4px_4px_-1px_rgba(12,_12,_13,_0.05)] rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border box-border overflow-hidden flex flex-col items-start justify-start py-space-200 px-[7px] z-[1]">
    <div class="self-stretch bg-tan-200 overflow-hidden flex flex-col items-start justify-start pt-space-200 px-space-400 pb-space-100">
      <div class="self-stretch relative text-body-size-medium leading-[140%] font-body-font-weight-strong text-text-default-default font-subheading">Categorias</div>
    </div>
    <menu-separator [menuSeparatorBorderRadius]="'unset'"> </menu-separator>
    <div class="self-stretch rounded-lg overflow-hidden flex flex-col items-start justify-start text-body-size-medium text-text-default-default">
        <!-- SKELETON LOADING -->
        <ng-container *ngIf="isLoading; else menuItems">
        
            <!-- Skeleton para categorías -->
            <div *ngFor="let _ of [1,2,3,4,5,6]" class="self-stretch rounded-radius-md overflow-hidden flex flex-row items-start justify-start py-space-300 px-space-400 gap-space-300 animate-pulse max-w-[65%]">
                 <!-- Contenido -->
                <div class="flex-1 flex flex-col items-start justify-start gap-space-100">
                    <div class="self-stretch flex flex-row items-center justify-between gap-0 mb-1.5">
                        <div class="flex-1 h-4 bg-gray-300 rounded w-full"></div>
                    </div>
                    <div class="self-stretch flex flex-row items-center justify-between gap-0">
                        <div class="flex-1 h-4 bg-gray-300 rounded max-w-[50%]"></div>
                    </div>
                </div>
            </div>
          </ng-container>
      
        <!-- CONTENIDO REAL DEL MENÚ -->
        <ng-template #menuItems>
          <menu-item
            [hasShortcut]="false"
            [hasIcon]="false"
            [label]="'Catalogo'"
            [hasDescription]="true"
            [description]="'Ver catalogo'">
          </menu-item>
      
          @for(categoria of categorias; track categoria.category_id) {
            <menu-item
              [hasShortcut]="false"
              [hasIcon]="false"
              [label]="categoria.name"
              [hasDescription]="true"
              [description]="'Ver categoria'">
            </menu-item>
          }
        </ng-template>
      </div>
      
</div>
