<div class="absolute top-[592px] left-[0px] bg-background-default-default w-full h-[1374px] flex flex-row items-start justify-start p-space-800 box-border text-left text-body-size-medium text-text-default-default font-subheading mq450:gap-8" data-scroll-to="pageProductResults">
      <div class="h-[672px] w-[270px] rounded-radius-200 bg-background-default-default border-border-default-default border-solid border-stroke-border box-border overflow-hidden shrink-0 flex flex-col items-start justify-start py-3.5 px-[15px] gap-space-600">
        <div class="self-stretch flex flex-col items-start justify-start gap-space-300">
          <text1 [text]="'Keywords'"> </text1>
          <div class="self-stretch rounded-radius-100 flex flex-row items-start justify-start flex-wrap content-start gap-space-100">
            <tag [scheme]="'Neutral'" [state]="'Default'" [variant]="'Secondary'" [label]="'Spring'" [removable]="true"> </tag><tag [scheme]="'Neutral'" [state]="'Default'" [variant]="'Secondary'" [label]="'Smart'" [removable]="true"> </tag>
            <tag [scheme]="'Neutral'" [state]="'Default'" [variant]="'Secondary'" [label]="'Modern'" [removable]="true"> </tag>
          </div>
        </div>
        <div class="self-stretch flex flex-col items-start justify-start">
          <checkbox-group>  </checkbox-group>
        </div><slider-field [state]="'Default'" [description]="'Description'" [label]="'Label'" [hasLabel]="true" [hasDescription]="false"> </slider-field>
        <div class="self-stretch flex flex-col items-start justify-start gap-space-300">
          <text1 [text]="'Color'" [textAlignSelf]="'unset'" [textFlex]="'unset'">                       
          </text1>
          <checkbox-group></checkbox-group>
        </div>
        <div class="self-stretch flex flex-col items-start justify-start gap-space-300">
          <text1 [text]="'Size'" [textAlignSelf]="'unset'" [textFlex]="'unset'"> </text1>
          <checkbox-group>  </checkbox-group>
        </div>
      </div>
    </div>