<div class="flex flex-col">
  <header-menu></header-menu>
  
  <main class="flex flex-col items-start justify-start pb-[50px] pl-3 pr-[18px] box-border max-w-full lg:pb-[50px] lg:box-border mq750:pb-[30px] mq750:box-border">

    <section class="relative w-full h-[150px] flex"> 
      <app-logo class="absolute top-0 left-0"></app-logo>

      <div class="absolute top-[19px] left-[365px] flex flex-col items-start justify-start gap-[50px] w-[calc(100%-365px)]">
        <div class="w-full flex flex-col font-subheading">
          <route [breadcrumbs]="[{ label: 'Iniciar sesión' }]"></route>
        </div>
      </div>
    </section>

    <div class="items-center justify-center min-h-screen w-full">
      <section class=" w-[60%] flex-col items-center justify-center pb-[100px] box-border  mx-auto">
        <div class="flex flex-col items-center justify-center gap-5 max-w-full mq1050:gap-3">
          
          <div class="self-stretch h-[auto] flex flex-row items-center justify-center max-w-full">
            <div class="self-stretch w-[100%] flex flex-col items-center justify-center gap-[20px] max-w-full mq1050:gap-[15px]">
              
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="m-0 rounded-radius-200 bg-background-default-default border-border-default-default border-solid 
                            border-stroke-border box-border flex flex-col items-center justify-center py-4 px-6 
                            w-full min-h-[320px] z-[1]" data-scroll-to="formContact">

                <div class="mx-auto font-subheading w-full bg-tan-200 p-1 text-body-size-medium text-text-default-default font-body-font-weight-strong">
                  <h1 class="text-center">Inicia sesión con tu cuenta</h1>
                </div>

                <div class="w-full h-px bg-border-default-default my-5"></div>

                <!-- Campo Correo -->
                <div class="flex flex-col w-full max-w-[320px]">
                  <label class="font-subheading text-gray-700 text-left mb-1">Correo</label>
                  <input 
                    type="email" 
                    formControlName="email" 
                    placeholder="Correo" 
                    class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2"
                    [ngClass]="{
                      'border-red-500': loginForm.get('email')?.invalid && loginForm.get('email')?.touched,
                      'border-gray-300': !(loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
                    }"
                  />
                  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                    class="text-red-500 text-sm mt-1 font-subheading">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">El correo no es válido.</div>
                  </div>
                </div>

                <!-- Campo Contraseña -->
                <div class="flex flex-col w-full max-w-[320px] mt-3">
                  <label class="font-subheading text-gray-700 text-left mb-1">Contraseña</label>
                  <input 
                    type="password" 
                    formControlName="password" 
                    placeholder="Contraseña" 
                    class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2"
                    [ngClass]="{
                      'border-red-500': loginForm.get('password')?.invalid && loginForm.get('password')?.touched,
                      'border-gray-300': !(loginForm.get('password')?.invalid && loginForm.get('password')?.touched)
                    }"
                  />
                  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                    class="text-red-500 text-sm mt-1 font-subheading">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
                  </div>
                </div>

                <!-- Botón -->
                <button type="submit" class="group max-w-[338px] cursor-pointer bg-background-brand-default border border-background-brand-default p-space-300 rounded-radius-200 flex items-center justify-center w-full mt-6 hover:bg-white hover:text-black transition">
                  <div class="font-subheading text-body-size-medium text-text-brand-on-brand text-white group-hover:text-black transition">
                    Ingresar
                  </div>
                </button>
              </form> 
              
              <div class="flex flex-col items-center justify-center pt-[10px] px-0 pb-0 box-border max-w-full w-full">
                <div class="flex flex-col items-center justify-center text-center font-subheading gap-2 w-full max-w-[400px]">
                  <div class="w-full flex flex-col items-center justify-start pt-0 px-0 box-border z-[1] text-center">
                    <h3 class="m-0 w-full h-[29px] relative text-inherit tracking-[-0.02em] leading-[120%] font-[600] font-[inherit]">Nuevo usuario</h3>
                    <div class="w-full relative text-subheading-size-small leading-[120%] text-text-default-secondary">¿No tienes cuenta? Registrate.</div>
                  </div>
                
                  <app-button 
                    class="font-subheading mt-2 w-auto px-8"
                    [buttonText]="'Continuar'" 
                    [buttonRoute]="'/registro'" 
                    [showButton]="true">
                  </app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <footer class="w-full mt-5 mb-10 font-subheading">
    <app-footer 
      [frameHeaderAlignSelf]="'unset'" 
      [frameHeaderPadding]="'0px 70px'" 
      [frameDivFlex]="'unset'" 
      [frameDivWidth]="'1290px'" 
      [image5]="'assets/images/image-5@2x.png'">
    </app-footer>
  </footer>
</div>

