<!-- STOCK -->
<div *ngIf="tipoResumen === 'stock'" class="space-y-4">
  <!-- Tabs -->
  <div class="flex gap-4">
    <button 
      (click)="seleccionarVistaStock('listado')" 
      [ngClass]="vistaStock === 'listado' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm border cursor-pointer">
      Ver productos
    </button>
    <button 
      (click)="seleccionarVistaStock('nuevo')" 
      [ngClass]="vistaStock === 'nuevo' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm border cursor-pointer">
      Agregar producto
    </button>
  </div>

  <!-- Listado de productos -->
  
    
      
  @for(product of productos; track product.product_id) 
  {
    <div *ngIf="vistaStock === 'listado'" class="flex justify-between items-center w-full  rounded-radius-200 border border-border-default-default 
    border-solid box-border p-2">
      <div class="flex items-center space-x-4">
        <div class="rounded-full p-2">
          <img class="w-[70px] h-[90px]" loading="lazy" [src]="product.image_url" />
        </div>
        <div class="leading-tight">
          <h4 class="font-bold font-subheading text-sm">{{ product.stock > 0 ? 'Producto en stock' : 'Producto fuera de stock' }}</h4>
          <p class="text-gray-500 text-sm font-subheading">{{ product.name }}</p>
    
          <!-- Cantidad -->
          <div *ngIf="productoEditandoId !== product.product_id; else editCantidad">
            <p class="text-gray-500 text-sm font-subheading">Cantidad disponible: {{ product.stock }}</p>
          </div>
          <ng-template #editCantidad>
            <input [(ngModel)]="product.stock" type="number"
                  class="text-sm font-subheading border rounded px-2 py-1 w-24" />
          </ng-template>
        </div>
      </div>
            <!-- Precio y botón -->
      <div class="flex items-center space-x-60 pr-40">
        <div *ngIf="productoEditandoId !== product.product_id; else editPrecio">
          <p class="text-gray-500 text-sm font-subheading">${{ product.price }}</p>
        </div>
        <ng-template #editPrecio>
          <input [(ngModel)]="product.price" type="number" class="text-sm font-subheading border rounded px-2 py-1 w-24" />
        </ng-template>

        <!-- Botón toggle -->
        <button class="bg-gray-800 text-white px-3 py-2 rounded-md font-subheading text-sm cursor-pointer flex items-center gap-1"(click)="toggleEditarStock(product)">
          <span>{{ productoEditandoId === product.product_id ? 'Guardar' : '✏️ Editar' }}</span>
        </button>      
      </div> 
    </div>
  }
  

  

  <!-- Formulario nuevo producto -->
  <form [formGroup]="formProducto" (ngSubmit)="crearProducto()" *ngIf="vistaStock === 'nuevo'" class="space-y-4 bg-gray-50 p-4 rounded-md shadow">

    <!-- Nombre -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Nombre del producto</label>
      <input type="text" formControlName="name"
        [ngClass]="{ 'border-red-500': campoInvalido('name') }"
        class="border p-2 rounded-md" placeholder="Ej: Bolso Maria">
    </div>

    <!-- Categoría -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Categoría</label>
      <select formControlName="category_id"
        [ngClass]="{ 'border-red-500': campoInvalido('category_id') }"
        class="border p-2 rounded-md">
        <option value="">Seleccione una categoría</option>
        <option *ngFor="let cat of categorias" [value]="cat.category_id" [disabled]="cat.is_disabled">
          {{ cat.name }}
        </option>
      </select>
    </div>
  
    <!-- Descripción -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Descripción</label>
      <textarea formControlName="description"
        [ngClass]="{ 'border-red-500': campoInvalido('description') }"
        class="border p-2 rounded-md resize-none" rows="3" placeholder="Ej: Este producto es..."></textarea>
    </div>
  
    <!-- Precio -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Precio</label>
      <input type="number" formControlName="price"
        [ngClass]="{ 'border-red-500': campoInvalido('price') }"
        class="border p-2 rounded-md" placeholder="$0.00">
    </div>
  
    <!-- Cantidad -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Cantidad</label>
      <input type="number" formControlName="stock"
        [ngClass]="{ 'border-red-500': campoInvalido('stock') }"
        class="border p-2 rounded-md" placeholder="0">
    </div>
  
    <!-- Imagen -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Imagen del producto</label>
      <input type="file" (change)="onFileSelected($event)"
        [ngClass]="{ 'border-red-500': campoInvalido('image_url') }"
        class="border p-2 rounded-md" accept="image/*">
    </div>
  
    <!-- Botón crear -->
    <button type="submit"
      [disabled]="isLoading"
      class="bg-gray-800 text-white px-4 py-2 rounded-md font-subheading text-sm cursor-pointer
            hover:bg-gray-600 transition disabled:opacity-50 disabled:cursor-not-allowed">
      {{ isLoading ? 'Creando producto...' : 'Crear producto' }}
    </button>
  </form>
  
</div>

 

<!-- ÓRDENES -->
<div *ngIf="tipoResumen === 'ordenes'" class="space-y-4">
  <!-- Tabs para órdenes -->
  <div class="flex gap-4">
    <button 
      (click)="seleccionarVistaOrden('pendientes')" 
      [ngClass]="vistaOrden === 'pendientes' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm cursor-pointer border">
      Pendientes de envio
    </button>
    <button 
      (click)="seleccionarVistaOrden('enviadas')" 
      [ngClass]="vistaOrden === 'enviadas' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm cursor-pointer border">
      Ordenes enviadas
    </button>
    <button 
      (click)="seleccionarVistaOrden('entregadas')" 
      [ngClass]="vistaOrden === 'entregadas' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm cursor-pointer border">
      Entregadas
    </button>
  </div>

  <!-- Contenido de órdenes pendientes -->
@for(pedido of pedidosPendientes; track pedido.order_id)
{
  <div *ngIf="vistaOrden === 'pendientes'" class="rounded-radius-200 border border-border-default-default border-solid box-border">
    <div class="flex justify-between items-center px-4 py-2">
      <div class="flex items-center space-x-4">
        <div class="{{ pedido.status_id == 2 ? 'bg-[#32c471]' :  pedido.status_id == 1 ? 'bg-[#efe97f]' : 'bg-[#d2614b]'}} rounded-full p-2">
          <img class="w-[50px] h-[59px] object-cover" loading="lazy" alt="Avatar" src="assets/images/logo-icono.png" />
        </div>
        <div class="leading-tight">
          <h4 class="font-bold font-subheading text-sm">Procesando en bodega</h4>
          <p class="text-gray-500 text-sm font-subheading">ORDEN #{{ pedido.order_id }} - {{ pedido.date_creation | date:'dd/MM/yyyy' }}</p>
          <p class="text-gray-500 text-sm font-subheading">Cliente: {{ pedido.client_name }} | {{ pedido.details }} </p>
          <p class="text-gray-500 text-sm font-subheading">Teléfono: {{ pedido.client_phone }} </p>
          <p class="text-gray-500 text-sm font-subheading">Dirección: {{ pedido.address }} </p>
          <p class="text-gray-500 text-sm font-subheading">Pago: {{ pedido.name }} </p>
        </div>
      </div>
      

      <!-- Total y botones -->
      <div class="flex items-center space-x-60 pr-20">
        <p class="text-gray-500 text-m font-subheading">Total: ${{ pedido.total_price }}</p>
        <div class="flex flex-col gap-2 w-[280px]">
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg 
          border border-border-neutral-secondary"(click)="aprobarEnvioOrden(pedido)">
            Enviar pedido
          </button>
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg border border-border-neutral-secondary"
            (click)="verDetalles(pedido)">
            {{ ordenMostrandoDetalles === pedido.order_id ? 'Ocultar detalles' : 'Ver detalles' }}
          </button>
          <button
            class="text-white px-20 py-2 font-subheading text-sm cursor-pointer bg-red-600 hover:bg-white hover:text-red-600 transition rounded-lg border border-red-500" (click)="cancelarPedido(pedido)">
            Cancelar pedido
          </button>
        </div>
      </div>

    </div>
    <!-- Sección de detalles -->
    <div
    *ngIf="ordenMostrandoDetalles === pedido.order_id"
    class="block m-4 p-4 w-[95%] rounded-radius-200 border border-border-default-default 
    border-solid box-border">
    <ng-container *ngIf="cargandoDetalles; else detallesCargados">
      <p class="text-sm text-gray-600 font-subheading italic">Cargando detalles...</p>
    </ng-container>

    <ng-template #detallesCargados>
      <h5 class="font-bold text-sm text-gray-700 font-subheading mb-3">Detalles del pedido:</h5>
      <ul class="space-y-2">
        <li *ngFor="let detalle of detallePedidoSeleccionado" class="text-sm text-gray-700 font-subheading">
          {{ detalle.name }} – Cantidad: {{ detalle.quantity }} – Subtotal: ${{ detalle.subtotal }}
        </li>
      </ul>
    </ng-template>
    </div>
  </div>
}


<!-- Vista ordenes enviadas -->
@for(pedido of pedidosEnviados; track pedido.order_id)
{
  <div *ngIf="vistaOrden === 'enviadas'" class="rounded-radius-200 border border-border-default-default border-solid box-border">
    <div class="flex justify-between items-center px-4 py-2">
      <div class="flex items-center space-x-4">
        <div class="bg-[#b0daff] rounded-full p-2">
          <img class="w-[50px] h-[59px] object-cover" loading="lazy" alt="Avatar" src="assets/images/logo-icono.png" />
        </div>
        <div class="leading-tight">
          <h4 class="font-bold font-subheading text-sm">Pedido enviado</h4>
          <p class="text-gray-500 text-sm font-subheading">ORDEN #{{ pedido.order_id }} - {{ pedido.date_creation | date:'dd/MM/yyyy' }}</p>
          <p class="text-gray-500 text-sm font-subheading">Cliente: {{ pedido.client_name }} | {{ pedido.details }} </p>
          <p class="text-gray-500 text-sm font-subheading">Teléfono: {{ pedido.client_phone }} </p>
          <p class="text-gray-500 text-sm font-subheading">Dirección: {{ pedido.address }} </p>
          <p class="text-gray-500 text-sm font-subheading">Estado: {{ pedido.name }} </p>
        </div>
      </div>
      

      <!-- Total y botones -->
      <div class="flex items-center space-x-60 pr-20">
        <p class="text-gray-500 text-m font-subheading">Total: ${{ pedido.total_price }}</p>
        <div class="flex flex-col gap-2 w-[280px]">
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg 
          border border-border-neutral-secondary" (click)="aprobarOrdenEntregada(pedido)">
            Entregado
          </button>
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg border border-border-neutral-secondary"
            (click)="verDetalles(pedido)">
            {{ ordenMostrandoDetalles === pedido.order_id ? 'Ocultar detalles' : 'Ver detalles' }}
          </button>
        </div>
      </div>

    </div>
    <!-- Sección de detalles -->
    <div
    *ngIf="ordenMostrandoDetalles === pedido.order_id"
    class="block m-4 p-4 w-[95%] rounded-radius-200 border border-border-default-default 
    border-solid box-border">
    <ng-container *ngIf="cargandoDetalles; else detallesCargados">
      <p class="text-sm text-gray-600 font-subheading italic">Cargando detalles...</p>
    </ng-container>

    <ng-template #detallesCargados>
      <h5 class="font-bold text-sm text-gray-700 font-subheading mb-3">Detalles del pedido:</h5>
      <ul class="space-y-2">
        <li *ngFor="let detalle of detallePedidoSeleccionado" class="text-sm text-gray-700 font-subheading">
          {{ detalle.name }} – Cantidad: {{ detalle.quantity }} – Subtotal: ${{ detalle.subtotal }}
        </li>
      </ul>
    </ng-template>
    </div>
  </div>
}



<!-- Vista ordenes entregadas -->
@for(pedido of pedidosEntregados; track pedido.order_id)
{
  <div *ngIf="vistaOrden === 'entregadas'" class="rounded-radius-200 border border-border-default-default border-solid box-border">
    <div class="flex justify-between items-center px-4 py-2">
      <div class="flex items-center space-x-4">
        <div class="bg-[#b0daff] rounded-full p-2">
          <img class="w-[50px] h-[59px] object-cover" loading="lazy" alt="Avatar" src="assets/images/logo-icono.png" />
        </div>
        <div class="leading-tight">
          <h4 class="font-bold font-subheading text-sm">Pedido entregado</h4>
          <p class="text-gray-500 text-sm font-subheading">ORDEN #{{ pedido.order_id }} - {{ pedido.date_creation | date:'dd/MM/yyyy' }}</p>
          <p class="text-gray-500 text-sm font-subheading">Cliente: {{ pedido.client_name }} | {{ pedido.details }} </p>
          <p class="text-gray-500 text-sm font-subheading">Teléfono: {{ pedido.client_phone }} </p>
          <p class="text-gray-500 text-sm font-subheading">Dirección: {{ pedido.address }} </p>
          <p class="text-gray-500 text-sm font-subheading">Estado: {{ pedido.name }} </p>
        </div>
      </div>
      

      <!-- Total y botones -->
      <div class="flex items-center space-x-60 pr-20">
        <p class="text-gray-500 text-m font-subheading">Total: ${{ pedido.total_price }}</p>
        <div class="flex flex-col gap-2 w-[280px]">
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg border border-border-neutral-secondary"
            (click)="verDetalles(pedido)">
            {{ ordenMostrandoDetalles === pedido.order_id ? 'Ocultar detalles' : 'Ver detalles' }}
          </button>
        </div>
      </div>

    </div>
    <!-- Sección de detalles -->
    <div
    *ngIf="ordenMostrandoDetalles === pedido.order_id"
    class="block m-4 p-4 w-[95%] rounded-radius-200 border border-border-default-default 
    border-solid box-border">
    <ng-container *ngIf="cargandoDetalles; else detallesCargados">
      <p class="text-sm text-gray-600 font-subheading italic">Cargando detalles...</p>
    </ng-container>

    <ng-template #detallesCargados>
      <h5 class="font-bold text-sm text-gray-700 font-subheading mb-3">Detalles del pedido:</h5>
      <ul class="space-y-2">
        <li *ngFor="let detalle of detallePedidoSeleccionado" class="text-sm text-gray-700 font-subheading">
          {{ detalle.name }} – Cantidad: {{ detalle.quantity }} – Subtotal: ${{ detalle.subtotal }}
        </li>
      </ul>
    </ng-template>
    </div>
  </div>
}