<!-- STOCK -->
<div *ngIf="tipoResumen === 'stock'" class="space-y-4">
  <!-- Tabs -->
  <div class="flex md:flex-row flex-col gap-4">
    <button 
      (click)="seleccionarVistaStock('listado')" 
      [ngClass]="vistaStock === 'listado' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm border cursor-pointer">
      Ver productos
    </button>
    <button 
      (click)="seleccionarVistaStock('nuevo')" 
      [ngClass]="vistaStock === 'nuevo' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm border cursor-pointer">
      Agregar producto
    </button>
    <button 
      (click)="seleccionarVistaStock('categoria')" 
      [ngClass]="vistaStock === 'categoria' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm border cursor-pointer">
      Ver categorias
    </button>
    <button 
      (click)="seleccionarVistaStock('nuevaCategoria')" 
      [ngClass]="vistaStock === 'nuevaCategoria' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm border cursor-pointer">
      Agregar categoría
    </button>
  </div>

  <!-- Listado de productos -->
@for(product of productos; track product.product_id)
{
  <div *ngIf="vistaStock === 'listado'" class="flex flex-col md:flex-row justify-between items-center w-full rounded-radius-200 border border-border-default-default border-solid box-border p-2 gap-2">
    
    <!-- Imagen y detalles -->
    <div class="flex items-center gap-2">
      <div class="rounded-full p-2">
        <img class="w-[70px] h-[90px] object-cover" loading="lazy" [src]="product.image_url" alt="Producto" />
      </div>
      <div class="leading-tight">
        <h4 class="font-bold font-subheading text-sm">{{ product.stock > 0 ? 'Producto en stock' : 'Producto fuera de stock' }}</h4>
        <p class="text-gray-500 text-sm font-subheading">{{ product.name }}</p>

        <!-- Cantidad disponible -->
        <div *ngIf="productoEditandoId !== product.product_id; else editCantidad">
          <p class="text-gray-500 text-sm font-subheading">Cantidad disponible: {{ product.stock }}</p>
        </div>
        <ng-template #editCantidad>
          <input [(ngModel)]="product.stock" type="number" class="text-sm font-subheading border rounded px-2 py-1 w-24" />
        </ng-template>
      </div>
    </div>

    <!-- Precio y botón -->
    <div class="flex flex-col lg:flex-row items-center lg:items-center gap-2 lg:gap-24 lg:mr-20">
      <div *ngIf="productoEditandoId !== product.product_id; else editPrecio">
        <p class="text-gray-500 text-sm font-subheading">${{ product.price.toLocaleString('es-CO') }}</p>
      </div>
      <ng-template #editPrecio>
        <input [(ngModel)]="product.price" type="number" class="text-sm font-subheading border rounded px-2 py-1 w-24" />
      </ng-template>

      <button class="bg-gray-800 text-white px-3 py-2 rounded-md font-subheading text-sm cursor-pointer flex items-center gap-1"
        (click)="toggleEditarStock(product)">
        {{ productoEditandoId === product.product_id ? 'Guardar' : '✏️ Editar' }}
      </button>
    </div>

  </div>
}

  <!-- Formulario nuevo producto -->
  <form [formGroup]="formProducto" (ngSubmit)="crearProducto()" *ngIf="vistaStock === 'nuevo'" class="space-y-4 bg-gray-50 p-4 rounded-md shadow">

    <!-- Nombre -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Nombre del producto</label>
      <input type="text" formControlName="name"
        [ngClass]="{ 'border-red-500': campoInvalido('name') }"
        class="border p-2 rounded-md" placeholder="Ej: Bolso Maria">
    </div>

    <!-- Categoría -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Categoría</label>
      <select formControlName="category_id"
        [ngClass]="{ 'border-red-500': campoInvalido('category_id') }"
        class="border p-2 rounded-md">
        <option value="">Seleccione una categoría</option>
        <option *ngFor="let cat of categoriasActivas" [value]="cat.category_id" [disabled]="cat.is_disabled">
          {{ cat.name }}
        </option>
      </select>
    </div>
  
    <!-- Descripción -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Descripción</label>
      <textarea formControlName="description"
        [ngClass]="{ 'border-red-500': campoInvalido('description') }"
        class="border p-2 rounded-md resize-none" rows="3" placeholder="Ej: Este producto es..."></textarea>
    </div>
  
    <!-- Precio -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Precio</label>
      <input type="number" formControlName="price"
        [ngClass]="{ 'border-red-500': campoInvalido('price') }"
        class="border p-2 rounded-md" placeholder="$0.00">
    </div>
  
    <!-- Cantidad -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Cantidad</label>
      <input type="number" formControlName="stock"
        [ngClass]="{ 'border-red-500': campoInvalido('stock') }"
        class="border p-2 rounded-md" placeholder="0">
    </div>
  
    <!-- Imagen -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-subheading text-gray-600">Imagen del producto</label>
      <input type="file" (change)="onFileSelected($event)"
        [ngClass]="{ 'border-red-500': campoInvalido('image_url') }"
        class="border p-2 rounded-md" accept="image/*">
    </div>
  
    <!-- Botón crear -->
    <button type="submit"
      [disabled]="isLoading"
      class="bg-gray-800 text-white px-4 py-2 rounded-md font-subheading text-sm cursor-pointer
            hover:bg-gray-600 transition disabled:opacity-50 disabled:cursor-not-allowed">
      {{ isLoading ? 'Creando producto...' : 'Crear producto' }}
    </button>
  </form>
  <!-- CATEGORIAS -->
  @for(category of categorias; track category.category_id) {
    <div *ngIf="vistaStock === 'categoria'" 
        class="my-4 flex justify-between items-center w-full rounded-radius-200 border border-border-default-default 
                border-solid box-border p-2">

      <!-- Parte izquierda: Nombre y estado -->
      <div class="flex items-center">
        <div class="leading-tight">
          <!-- Nombre -->
          <div *ngIf="categoriaEditandoId !== category.category_id; else editNombre">
            <h4 class="m-2 font-bold font-subheading text-sm">{{ category.name }}</h4>
          </div>
          <ng-template #editNombre>
            <input [(ngModel)]="category.name" type="text"
                  class="m-2 text-sm font-subheading border rounded px-2 py-1 w-40" />
          </ng-template>

          <!-- Estado is_disabled -->
          <div *ngIf="categoriaEditandoId !== category.category_id; else editEstado">
            <p class="m-2 text-sm font-subheading text-gray-500">
              Estado: {{ category.is_disabled ? 'Deshabilitada' : 'Activa' }}
            </p>
          </div>
          <ng-template #editEstado>
            <label class="text-sm font-subheading text-gray-500 flex items-center gap-2">
              <input class="m-2" type="checkbox" [(ngModel)]="category.is_disabled" />
              ¿Deshabilitada?
            </label>
          </ng-template>
        </div>
      </div>

      <!-- Parte derecha: botón -->
      <div class="flex items-center space-x-4">
        <button class="bg-gray-800 text-white px-3 py-2 rounded-md font-subheading text-sm cursor-pointer flex items-center gap-1"
          (click)="toggleEditarCategoria(category)"
          [disabled]="guardandoCategoriaId === category.category_id">
          <span>
            {{
              guardandoCategoriaId === category.category_id
                ? 'Guardando...'
                : (categoriaEditandoId === category.category_id ? 'Guardar' : '✏️ Editar')
            }}
          </span>
        </button>
      </div>
    </div>
  }

  <div *ngIf="vistaStock === 'nuevaCategoria'" class="space-y-4 bg-gray-50 p-4 rounded-md shadow">
    <h2 class="font-bold font-subheading text-lg">Crear nueva categoría</h2>

    <div class="mr-6">
      <input
        [(ngModel)]="nuevaCategoria.name"
        type="text"
        placeholder="Nombre de la categoría"
        class="w-full py-2 px-3 border rounded-md text-sm font-subheading"
        [ngClass]="{
          'border-red-500': !nuevaCategoria.name?.trim()
        }"
        required
      />
    </div>

    <button
      (click)="crearCategoria()"
      [disabled]="!nuevaCategoria.name?.trim() || creandoCategoria"
      class="bg-gray-800 text-white px-4 py-2 rounded-md font-subheading text-sm cursor-pointer
      hover:bg-gray-600 transition font-subheading text-sm px-4 py-2 rounded-md w-full transition duration-200"
    >
      {{ creandoCategoria ? 'Creando...' : 'Crear Categoría' }}
    </button>
  </div>
</div>


<!-- ÓRDENES -->
<div *ngIf="tipoResumen === 'ordenes'" class="space-y-4">
  <!-- Tabs para órdenes -->
  <div class="flex flex-col sm:flex-row gap-2">
    <button 
      (click)="seleccionarVistaOrden('pendientes')" 
      [ngClass]="vistaOrden === 'pendientes' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="py-2 rounded-md font-subheading text-sm cursor-pointer border">
      Pendientes de envio
    </button>
    <button 
      (click)="seleccionarVistaOrden('enviadas')" 
      [ngClass]="vistaOrden === 'enviadas' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm cursor-pointer border">
      Ordenes enviadas
    </button>
    <button 
      (click)="seleccionarVistaOrden('entregadas')" 
      [ngClass]="vistaOrden === 'entregadas' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-700'" 
      class="px-4 py-2 rounded-md font-subheading text-sm cursor-pointer border">
      Entregadas
    </button>
  </div>

  <!-- Contenido de órdenes pendientes -->
@for(pedido of pedidosPendientes; track pedido.order_id)
{
  <div *ngIf="vistaOrden === 'pendientes'" class="rounded-radius-200 border border-border-default-default border-solid box-border">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center px-4 py-2 gap-4">
      <!-- Info del cliente -->
      <div class="flex items-center space-x-4 w-full md:w-auto">
        <div class="bg-[#efe97f] p-2 rounded-full">
          <img class="w-[50px] h-[50px] object-cover" loading="lazy" alt="Avatar" src="assets/images/logo-icono.png" />
        </div>
        <div class="leading-tight">
          <h4 class="font-bold font-subheading text-sm">Procesando en bodega</h4>
          <p class="text-gray-500 text-sm font-subheading">ORDEN #{{ pedido.order_id }} - {{ pedido.date_creation | date:'dd/MM/yyyy' }}</p>
          <p class="text-gray-500 text-sm font-subheading">Cliente: {{ pedido.client_name }} | {{ pedido.details }}</p>
          <p class="text-gray-500 text-sm font-subheading">Teléfono: {{ pedido.client_phone }}</p>
          <p class="text-gray-500 text-sm font-subheading">Dirección: {{ pedido.address }}</p>
          <p class="text-gray-500 text-sm font-subheading">Pago: {{ pedido.name }}</p>
        </div>
      </div>

      <!-- Total y botones -->
      <div class="flex flex-col md:flex-row md:items-center gap-2 w-full md:w-auto">
        <p class="text-gray-500 text-m font-subheading md:mr-4 mx-auto">Total: ${{ pedido.total_price.toLocaleString('es-CO')  }}</p>
        <div class="flex flex-col gap-2 w-full md:w-[280px]">
          <button
            class="bg-gray-800 text-white py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg border border-border-neutral-secondary w-full"
            (click)="aprobarEnvioOrden(pedido)">
            Enviar pedido
          </button>
          <button
            class="bg-gray-800 text-white py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg border border-border-neutral-secondary w-full"
            (click)="verDetalles(pedido)">
            {{ ordenMostrandoDetalles === pedido.order_id ? 'Ocultar detalles' : 'Ver detalles' }}
          </button>
          <button
            class="text-white py-2 font-subheading text-sm cursor-pointer bg-red-600 hover:bg-white hover:text-red-600 transition rounded-lg border border-red-500 w-full"
            (click)="cancelarPedido(pedido)">
            Cancelar pedido
          </button>
        </div>
      </div>

    </div>

    <!-- Sección de detalles -->
    <div *ngIf="ordenMostrandoDetalles === pedido.order_id"
         class="block m-4 p-4 w-[95%] rounded-radius-200 border border-border-default-default border-solid box-border">
      <ng-container *ngIf="cargandoDetalles; else detallesCargados">
        <p class="text-sm text-gray-600 font-subheading italic">Cargando detalles...</p>
      </ng-container>

      <ng-template #detallesCargados>
        <h5 class="font-bold text-sm text-gray-700 font-subheading mb-3">Detalles del pedido:</h5>
        <ul class="space-y-2">
          <li *ngFor="let detalle of detallePedidoSeleccionado" class="text-sm text-gray-700 font-subheading">
            {{ detalle.name }} – Cantidad: {{ detalle.quantity }} – Subtotal: ${{ detalle.subtotal.toLocaleString('es-CO') }}
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
}

<!-- Vista ordenes enviadas -->
@for(pedido of pedidosEnviados; track pedido.order_id)
{
  <div *ngIf="vistaOrden === 'enviadas'" class="rounded-radius-200 border border-border-default-default border-solid box-border">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center px-4 py-2 gap-4">
      <!-- Info del cliente -->
      <div class="flex items-center space-x-4 w-full md:w-auto">
        <div class="bg-[#85ffa5] rounded-full p-2 ">
          <img class="w-[50px] h-[50px] object-cover" loading="lazy" alt="Avatar" src="assets/images/logo-icono.png" />
        </div>
        <div class="leading-tight">
          <h4 class="font-bold font-subheading text-sm">Pedido enviado</h4>
          <p class="text-gray-500 text-sm font-subheading">ORDEN #{{ pedido.order_id }} - {{ pedido.date_creation | date:'dd/MM/yyyy' }}</p>
          <p class="text-gray-500 text-sm font-subheading">Cliente: {{ pedido.client_name }} | {{ pedido.details }} </p>
          <p class="text-gray-500 text-sm font-subheading">Teléfono: {{ pedido.client_phone }} </p>
          <p class="text-gray-500 text-sm font-subheading">Dirección: {{ pedido.address }} </p>
          <p class="text-gray-500 text-sm font-subheading">Estado: {{ pedido.name }} </p>
        </div>
      </div>
  
      <!-- Total y botones -->
      <div class="flex flex-col md:flex-row md:items-center gap-2 w-full md:w-auto">
        <p class="text-gray-500 text-m font-subheading md:mr-4 mx-auto">Total: ${{ pedido.total_price.toLocaleString('es-CO')  }}</p>
        <div class="flex flex-col gap-2 w-full md:w-[280px]">
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg 
          border border-border-neutral-secondary" (click)="aprobarOrdenEntregada(pedido)">
            Entregado
          </button>
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg border border-border-neutral-secondary"
            (click)="verDetalles(pedido)">
            {{ ordenMostrandoDetalles === pedido.order_id ? 'Ocultar detalles' : 'Ver detalles' }}
          </button>
        </div>
      </div>
    </div>
  
    <!-- Sección de detalles -->
    <div
      *ngIf="ordenMostrandoDetalles === pedido.order_id"
      class="block m-4 p-4 w-[95%] rounded-radius-200 border border-border-default-default 
      border-solid box-border">
      <ng-container *ngIf="cargandoDetalles; else detallesCargados">
        <p class="text-sm text-gray-600 font-subheading italic">Cargando detalles...</p>
      </ng-container>
  
      <ng-template #detallesCargados>
        <h5 class="font-bold text-sm text-gray-700 font-subheading mb-3">Detalles del pedido:</h5>
        <ul class="space-y-2">
          <li *ngFor="let detalle of detallePedidoSeleccionado" class="text-sm text-gray-700 font-subheading">
            {{ detalle.name }} – Cantidad: {{ detalle.quantity }} – Subtotal: ${{ detalle.subtotal.toLocaleString('es-CO') }}
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  
}



<!-- Vista ordenes entregadas -->
@for(pedido of pedidosEntregados; track pedido.order_id)
{
  <div *ngIf="vistaOrden === 'entregadas'" class="rounded-radius-200 border border-border-default-default border-solid box-border">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center px-4 py-2 gap-4">
      <!-- Info del cliente -->
      <div class="flex items-center space-x-4 w-full md:w-auto ">
        <div class="bg-[#ff8585] rounded-full p-2">
          <img class="w-[50px] h-[50px] object-cover" loading="lazy" alt="Avatar" src="assets/images/logo-icono.png" />
        </div>
        <div class="leading-tight">
          <h4 class="font-bold font-subheading text-sm">Pedido entregado</h4>
          <p class="text-gray-500 text-sm font-subheading">ORDEN #{{ pedido.order_id }} - {{ pedido.date_creation | date:'dd/MM/yyyy' }}</p>
          <p class="text-gray-500 text-sm font-subheading">Cliente: {{ pedido.client_name }} | {{ pedido.details }} </p>
          <p class="text-gray-500 text-sm font-subheading">Teléfono: {{ pedido.client_phone }} </p>
          <p class="text-gray-500 text-sm font-subheading">Dirección: {{ pedido.address }} </p>
          <p class="text-gray-500 text-sm font-subheading">Estado: {{ pedido.name }} </p>
        </div>
      </div>

      <!-- Total y botón -->
      <div class="flex flex-col md:flex-row md:items-center gap-2 w-full md:w-auto">
        <p class="text-gray-500 text-m font-subheading md:mr-4 mx-auto">Total: ${{ pedido.total_price.toLocaleString('es-CO')  }}</p>
        <div class="flex flex-col gap-2 w-full md:w-[280px]">
          <button class="bg-gray-800 text-white px-20 py-2 font-subheading text-sm cursor-pointer hover:text-black hover:bg-white transition rounded-lg border border-border-neutral-secondary"
            (click)="verDetalles(pedido)">
            {{ ordenMostrandoDetalles === pedido.order_id ? 'Ocultar detalles' : 'Ver detalles' }}
          </button>
        </div>
      </div>
    </div>

    <!-- Sección de detalles -->
    <div
      *ngIf="ordenMostrandoDetalles === pedido.order_id"
      class="block m-4 p-4 w-[95%] rounded-radius-200 border border-border-default-default border-solid box-border">
      <ng-container *ngIf="cargandoDetalles; else detallesCargados">
        <p class="text-sm text-gray-600 font-subheading italic">Cargando detalles...</p>
      </ng-container>

      <ng-template #detallesCargados>
        <h5 class="font-bold text-sm text-gray-700 font-subheading mb-3">Detalles del pedido:</h5>
        <ul class="space-y-2">
          <li *ngFor="let detalle of detallePedidoSeleccionado" class="text-sm text-gray-700 font-subheading">
            {{ detalle.name }} – Cantidad: {{ detalle.quantity }} – Subtotal: ${{ detalle.subtotal.toLocaleString('es-CO')  }}
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
}
