.menu {
    display: flex;
    gap: 10px;
    background-color: #CBB28B;
    padding: 22px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.home-btn {
    margin: 0px 20px;
}

.search-bar {
    display: flex;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    flex: 1;
    max-width: 600px;
}
.search-bar input {
    border: none;
    padding: 10px;
    outline: none;
    flex: 1;
}
.search-bar button {
    font-weight: bold;
    background: #A07C50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    width: 50%;
    gap: 25px;
    align-items: center;
    text-align: end;
    justify-self: end;
    justify-content: end;
}

.icon {
    font-size: 20px;
}